[package]
name = "runtime-local"
authors = ["Grafbase"]
description = "An implementation of the Grafbase runtime for local use"
version = "0.1.0"
edition = "2024"
license = "MPL-2.0"
homepage = "https://grafbase.com"
repository = "https://github.com/grafbase/grafbase"
keywords = ["local", "runtime", "grafbase"]

[lints]
workspace = true

[features]
wasi = ["wasi-component-loader", "url", "dep:deadpool"]
redis = ["dep:redis", "dep:deadpool"]

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
async-tungstenite = { workspace = true, features = [
    "tokio-runtime",
    "tokio-rustls-webpki-roots",
] }
base64.workspace = true
bytes.workspace = true
dashmap.workspace = true
deadpool = { workspace = true, optional = true }
ed25519-compact.workspace = true
elliptic-curve = { workspace = true, features = ["jwk"] }
engine.workspace = true
engine-schema.workspace = true
enumflags2.workspace = true
event-queue.workspace = true
extension-catalog.workspace = true
futures-util.workspace = true
fxhash.workspace = true
gateway-config.workspace = true
governor.workspace = true
grafbase-telemetry.workspace = true
grafbase-workspace-hack.workspace = true
graphql-ws-client.workspace = true
http.workspace = true
httpsig.workspace = true
httpsig-hyper.workspace = true
mini-moka.workspace = true
minicbor-serde.workspace = true
p256 = { workspace = true, features = ["jwk"] }
p384 = { workspace = true, features = ["jwk"] }
postcard.workspace = true
rapidhash.workspace = true
redis = { workspace = true, optional = true }
reqwest = { workspace = true, features = ["json", "rustls-tls", "gzip", "brotli", "deflate", "zstd", "hickory-dns"] }
reqwest-eventsource.workspace = true
runtime.workspace = true
semver.workspace = true
serde.workspace = true
serde_json = { workspace = true, features = ["raw_value"] }
tokio = { workspace = true, features = ["macros", "sync"] }
tracing.workspace = true
tungstenite = { workspace = true, features = ["url", "handshake"] }
url = { workspace = true, optional = true }
wasi-component-loader = { path = "../wasi-component-loader", optional = true }
