@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: monospace;
}

a:hover {
  text-decoration: underline;
}

/* Logo animated */

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(3px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo-animated {
  animation: appear 0.2s ease-in;
}

.logo-third-line {
  opacity: 0;
  animation: appear 0.2s ease forwards;
}

.logo-second-line {
  opacity: 0;
  animation: appear 0.2s ease forwards;
  animation-delay: 0.2s;
}

.logo-first-line {
  opacity: 0;
  animation: appear 0.2s ease forwards;
  animation-delay: 0.4s;
}
