[package]
name = "integration-tests"
version = "0.1.0"
edition = "2021"

[lints]
workspace = true

[dependencies]
async-graphql.workspace = true
async-graphql-axum.workspace = true
async-graphql-parser.workspace = true
async-once-cell = "0.5.3"
async-trait = "0.1"
axum.workspace = true
common-types.workspace = true
cynic.workspace = true
cynic-introspection.workspace = true
engine-parser.workspace = true
engine-v2.workspace = true
engine-config-builder = { path = "../engine-config-builder" }
expect-test = "1.4"
futures = "0.3"
grafbase-graphql-introspection = { path = "../../../cli/crates/graphql-introspection" }
graphql-composition.workspace = true
graphql-parser = "0.4.0"
http.workspace = true
indoc = "2"
names = "0.14"
openidconnect.workspace = true
reqwest = "0.11"
serde.workspace = true
serde_json = { workspace = true, features = ["preserve_order"] }
ulid.workspace = true
url.workspace = true
wiremock = "0.5"
runtime-local = { path = "../runtime-local" }
ory-client = "1"
tracing-subscriber = { version = "0.3", default-features = false, features = [
  "fmt",
  "tracing-log",
  "env-filter",
  "ansi",
] }
ctor = "0.2"

[dependencies.tokio]
version = "1.35"
features = ["macros"]

[dependencies.insta]
version = "1.34"
features = ["json"]

[dependencies.engine]
path = "../engine"
default-features = false

[dependencies.parser-graphql]
path = "../parser-graphql"

[dependencies.parser-sdl]
path = "../parser-sdl"

[dependencies.parser-postgres]
path = "../parser-postgres"

[dependencies.postgres-connector-types]
path = "../postgres-connector-types"

[dependencies.runtime]
path = "../runtime"

[dependencies.parser-openapi]
path = "../parser-openapi"

[dev-dependencies]
similar-asserts = "1.5"
base64.workspace = true
rstest.workspace = true
const_format = "0.2"
