[package]
name = "integration-tests"
version = "0.1.0"
edition = "2021"

[dependencies]
async-graphql = "6"
async-graphql-axum = "6"
async-once-cell = "0.5.3"
async-trait = "0.1"
axum = "0.6"
cynic = "3"
cynic-introspection = "3"
expect-test = "1.4"
futures = "0.3"
graphql-parser = "0.4.0"
http = { workspace = true }
indoc = "2"
names = "0.14"
reqwest = "0.11"
serde.workspace = true
serde_json.workspace = true
url.workspace = true
wiremock = "0.5"

[dependencies.tokio]
version = "1.32"
features = ["rt-multi-thread", "macros"]

[dependencies.insta]
version = "1.31"
features = ["json"]

[dependencies.engine]
path = "../engine"
default-features = false

[dependencies.parser-graphql]
path = "../parser-graphql"

[dependencies.parser-sdl]
path = "../parser-sdl"

[dependencies.parser-postgresql]
path = "../parser-postgresql"

[dependencies.postgresql-types]
path = "../postgresql-types"

[dependencies.runtime]
path = "../runtime"

[dependencies.parser-openapi]
path = "../parser-openapi"
