[package]
name = "integration-tests"
version = "0.1.0"
edition = "2021"

[lints]
workspace = true

[dependencies]
axum.workspace = true
async-graphql-parser.workspace = true
async-graphql.workspace = true
async-once-cell = "0.5.3"
async-runtime.workspace = true
async-trait.workspace = true
cynic.workspace = true
cynic-introspection.workspace = true
engine-parser.workspace = true
engine-v2.workspace = true
graphql-mocks.workspace = true
engine-config-builder = { path = "../engine-config-builder" }
expect-test = "1.5"
futures = "0.3.30"
gateway-core.workspace = true
grafbase-graphql-introspection.workspace = true
graphql-composition.workspace = true
graphql-parser = "0.4.0"
headers.workspace = true
http.workspace = true
indoc = "2.0.5"
multipart-stream = "0.1.2"
names = "0.14.1-dev"
openidconnect.workspace = true
reqwest.workspace = true
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
ulid.workspace = true
url.workspace = true
wiremock.workspace = true
registry-upgrade.workspace = true
runtime-local.workspace = true
runtime-noop.workspace = true
ory-client = "1.9.0"
tracing-subscriber = { version = "0.3.18", default-features = false, features = [
  "fmt",
  "tracing-log",
  "env-filter",
  "ansi",
] }
ctor.workspace = true
rustls = { workspace = true, features = ["ring"] }
tracing.workspace = true
tracing-mock.workspace = true
runtime = { path = "../runtime" }

[dependencies.tokio]
version = "1.37"
features = ["full"]

[dependencies.insta]
version = "1.38"
features = ["json"]

[dependencies.engine]
path = "../engine"
default-features = false

[dependencies.parser-graphql]
path = "../parser-graphql"

[dependencies.parser-sdl]
path = "../parser-sdl"

[dependencies.parser-postgres]
path = "../parser-postgres"

[dependencies.postgres-connector-types]
path = "../postgres-connector-types"
features = ["pooling"]

[dependencies.registry-for-cache]
workspace = true

[dependencies.parser-openapi]
path = "../parser-openapi"

[dependencies.grafbase-tracing]
path = "../tracing"
features = ["tower"]

[dev-dependencies]
graphql-federated-graph.path = "../federated-graph"
similar-asserts = "1.5"
base64.workspace = true
rstest.workspace = true
const_format = "0.2.32"
headers.workspace = true
criterion = { version = "0.5.1", features = ["async_tokio"] }
sha2.workspace = true
hex.workspace = true
serde.workspace = true
secrecy.workspace = true

[[bench]]
name = "federation"
harness = false
