version: '3'
services:
  # MongoDB
  data-api:
    image: grafbase/mongodb-data-api:latest
    restart: always
    environment:
      MONGODB_DATABASE_URL: 'mongodb://grafbase:grafbase@mongodb:27017'
    ports:
      - '3000:3000'
    depends_on:
      - mongodb
    networks:
      - databases

  mongodb:
    image: mongo:latest
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: 'grafbase'
      MONGO_INITDB_ROOT_PASSWORD: 'grafbase'
      INIT_WAIT_SEC: $INIT_WAIT_SEC
    ports:
      - '27018:27017'
    networks:
      - databases

  # Postgres
  postgres:
    image: postgres:16
    restart: always
    command: postgres -c 'max_connections=1000'
    environment:
      POSTGRES_PASSWORD: 'grafbase'
      POSTGRES_HOST_AUTH_METHOD: 'md5'
      POSTGRES_INITDB_ARGS: '--auth-host=md5'
    ports:
      - '5432:5432'
    networks:
      - databases

  pgbouncer:
    image: brainsam/pgbouncer:latest
    restart: always
    environment:
      DB_HOST: 'postgres'
      DB_PORT: '5432'
      DB_USER: 'postgres'
      DB_PASSWORD: 'grafbase'
      POOL_MODE: 'transaction'
      MAX_CLIENT_CONN: '100000'
    networks:
      - databases
    ports:
      - '6432:6432'

networks:
  databases: null
