<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pathfinder – Grafbase</title>
    <link rel="shortcut icon" href="{{ASSET_URL}}/images/grafbase-logo-circle.png" />
    <link rel="stylesheet" href="{{ASSET_URL}}/assets/index.css" />
    <script>
      window.GRAPHQL_URL = '{{GRAPHQL_URL}}';
    </script>
    <script type="module" crossorigin src="{{ASSET_URL}}/assets/index.js"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
