[package]
name = "grafbase-local-common"
version = "0.20.0-rc.1"
edition = "2021"
description = "Common code used in multiple crates in the CLI workspace"
license = "Apache-2.0"
homepage = "https://grafbase.com"
keywords = ["grafbase"]
readme = "README.md"
repository = "https://github.com/grafbase/grafbase"

[dependencies]
dirs = "5"
exitcode = "1"
once_cell = "1"
serde = { version = "1", features = ["derive"] }
thiserror = "1"
