[package]
name = "grafbase-local-common"
description = "Common code used in multiple crates in the CLI workspace"
readme = "README.md"
version.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
keywords.workspace = true
repository.workspace = true

[dependencies]
chrono = "0.4.37"
const_format = "0.2.32"
derivative = "2.2.0"
dirs = "5"
expect-test = "1.4.1"
rudderanalytics = { version = "1", features = [
  "rustls-tls",
], default-features = false }
serde = { version = "1", features = ["derive"] }
serde_json.workspace = true
strum = { version = "0.26", features = ["derive"] }
thiserror = "1"
tokio.workspace = true
ulid = { version = "1", features = ["serde"] }

common-types = { path = "../../../engine/crates/common-types" }

[build-dependencies]
serde_json.workspace = true

[lints]
workspace = true
