[package]
name = "grafbase-local-common"
description = "Common code used in multiple crates in the CLI workspace"
readme = "README.md"
version.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
keywords.workspace = true
repository.workspace = true

[dependencies]
const_format = "0.2.32"
dirs = "5.0.1"
expect-test = "1.5.0"
serde = { version = "1.0.199", features = ["derive"] }
serde_json.workspace = true
strum = { version = "0.26.2", features = ["derive"] }
thiserror = "1.0.59"
tokio.workspace = true

common-types = { path = "../../../engine/crates/common-types" }
grafbase-workspace-hack.workspace = true
url.workspace = true

[build-dependencies]
serde_json.workspace = true

[lints]
workspace = true
