[package]
name = "grafbase-local-common"
version = "0.21.1"
edition = "2021"
description = "Common code used in multiple crates in the CLI workspace"
license = "Apache-2.0"
homepage = "https://grafbase.com"
keywords = ["grafbase"]
readme = "README.md"
repository = "https://github.com/grafbase/grafbase"

[dependencies]
chrono = "0.4.24"
derivative = "2.2.0"
dirs = "5"
exitcode = "1"
once_cell = "1"
rudderanalytics = { version = "1", features = ["rustls-tls"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
thiserror = "1"
ulid = { version = "1", features = ["serde"] }
