.dockerignore
.gitignore
.github
.git
.aider*
/examples
/extensions
/target
.direnv
/gateway/target
/engine/target
/crates/**/snapshots
/crates/**/tests/**/txt
/crates/**/tests/**/graphql
/crates/**/tests/**/json
/**/changelog
node_modules
/crates/integration-tests/data
/cli/tests/integration/data/target
/cli/tests/integration/data/echo_extension/target/
/crates/wasi-component-loader/examples/target
