[workspace]
resolver = "2"
members = [
  "gateway/crates/*",
  "cli/crates/*",
  "engine/crates/*",
  "engine/crates/gateway-v2/auth",
  "engine/crates/gateway-v2/auth-config",
  "engine/crates/engine-v2/config",
  "engine/crates/engine-v2/schema",
  "engine/crates/engine-v2/id-newtypes",
  "engine/crates/engine/derive",
  "engine/crates/engine/parser",
  "engine/crates/engine/value",
  "graph-ref",
]

[patch.crates-io]
async-tungstenite = { git = "https://github.com/grafbase/async-tungstenite", rev = "431cc5963ecb9b13684b1b4e5daeb46971f851e4" } # ring
# Drop when https://github.com/programatik29/axum-server/pull/112 is merged.
axum-server = { git = "https://github.com/grafbase/axum-server", rev = "fdce3d3dc71dc69597689cc28003cc0533b47dba" } # rustls-0.23
http-cache = { git = "https://github.com/grafbase/http-cache", rev = "3c1e65f3be862f264e00db42694e64cd71dad278" } # http-v1-updated
http-cache-reqwest = { git = "https://github.com/grafbase/http-cache", rev = "3c1e65f3be862f264e00db42694e64cd71dad278" } # http-v1-updated
hyper-rustls = { git = "https://github.com/grafbase/hyper-rustls", rev = "e8e14ba34c081702297c74e544109be6c8ea5232" } # rustls-0.23
multipart-stream = { git = "https://github.com/grafbase/multipart-stream-rs-fork", rev = "06ff198e4041c8a8c1c93e580c260d597727c193" } # http-1.0-fix-multipart-mixed
names = { git = "https://github.com/grafbase/names", rev = "443800fbb7bc2936c1f2c16f3a5e116698b1454a" } # main
# FIXME: Drop when a new version is released.
openidconnect = { git = "https://github.com/ramosbugs/openidconnect-rs", rev = "7efc8943a8f699aff2db742827fc3d0fc2b3f34d" } # main
ory-client = { git = "https://github.com/grafbase/client-rust", rev = "88ed8f63c1d71b294c2ef64fd80ca654e91ac25f" } # reqwest-0.12
reqwest = { git = "https://github.com/grafbase/reqwest", rev = "548567b27d7f0c5023a453083f2e78d36f63b084" } # 0.12-with-patches
# FIXME: Drop when https://github.com/jpopesculian/reqwest-eventsource/pull/20 is merged.
reqwest-eventsource = { git = "https://github.com/Sagebati/reqwest-eventsource", rev = "c2d83622d4c238d61cec4ec201bcd8921b5256b9" } # main
# FIXME: Drop when https://github.com/TrueLayer/reqwest-middleware/pull/133 is released.
reqwest-middleware = { git = "https://github.com/TrueLayer/reqwest-middleware", rev = "0d0d8b9411ece3cc162a69540db1d7169de32319" } # campeis:update_http_to_v1
rudderanalytics =  { git = "https://github.com/grafbase/rudder-sdk-rust", rev = "3e994eb4dcc9c580be311ef9eab6e96dd264293b" } # async
serde_with = { git = "https://github.com/grafbase/serde_with", rev = "31165b5a70f329b5e9c8a04284cccec6d76ea248" } # minify-field-names-strum-0.26
# Temporary change till https://github.com/alexcrichton/tar-rs/pull/319 is merged and released.
tar = { git = "https://github.com/grafbase/tar-rs.git", rev = "a889df5bd9fec44faf081f7fade5ec81935c2418" } # overwrite-hard-links
tokio-postgres = { git = "https://github.com/grafbase/rust-postgres/", branch = "grafbase-rebased" }
# Drop when https://github.com/jbg/tokio-postgres-rustls/pull/22 is merged and our fork is rebased.
tokio-postgres-rustls = { git = "https://github.com/grafbase/tokio-postgres-rustls", rev = "c4bb42bb4063c3dd28b75783f846b23622be07f6" } # rustls-0.23
# Drop when a new version of tokio-rustls is released.
tokio-rustls = { git = "https://github.com/rustls/tokio-rustls", rev = "3a153acec6c4d189eb5de501b2155b4484b8651b" } # main
tungstenite = { git = "https://github.com/grafbase/tungstenite-rs", rev = "783940b2e6cc02c7067efb07dc72ae49d75571b0" } # dependabot/cargo/rustls-0.23.1

# https://github.com/tokio-rs/tracing/tree/v0.1.x/tracing-mock
tracing = { git = "https://github.com/tokio-rs/tracing", branch = "v0.1.x" }
tracing-core = { git = "https://github.com/tokio-rs/tracing", branch = "v0.1.x" }
tonic = { git = "https://github.com/grafbase/tonic", rev = "58de44e200af96defc4038701df9f18a177bc4c6" } # tokio-rustls-ring

[workspace.package]
version = "0.65.0"
edition = "2021"
license = "Apache-2.0"
homepage = "https://grafbase.com"
keywords = ["grafbase"]
repository = "https://github.com/grafbase/grafbase"

[workspace.dependencies]
async-graphql = "7"
async-graphql-axum = "7"
async-graphql-parser = "7"
async-graphql-value = "7"
async-trait = "0.1"
axum = { version = "0.7", default-features = false }
axum-server = { version = "0.6", default-features = false }
base64 = "0.22"
bitflags = "2"
blake3 = "1"
bytes = "1"
chrono = { version = "0.4", default-features = false }
ctor = "0.2"
cynic = "3"
cynic-introspection = "3"
deadpool-postgres = "0.12"
derive_more = "1.0.0-beta.6"
jwt-compact = "0.8"
flexbuffers = "2"
futures = "0.3"
futures-util = "0.3"
handlebars = "5"
headers = "0.4"
hex = "0.4"
http = "1"
hyper = { version = "1", features = ["http2"] }
hyper-util = "0.1"
indexmap = "2"
insta = { version = "1", features = ["json"] }
itertools = "0.12"
jsonwebtoken = "9"
num-traits = "0.2"
once_cell = "1"
openidconnect = "4.0.0-alpha.1"
regex = "1"
reqwest = { version = "0.12", default-features = false, features = ["http2"] }
rmp-serde = "1"
rstest = "0.18"
rustls = { version = "0.23", default-features = false }
rustls-pemfile = { version = "2.1.1", default-features = false }
rustls-webpki = { version = "0.102.2", default-features = false }
secrecy = "0.8"
send_wrapper = "0.6"
strum = "0.26"
strum_macros = "0.26"
tar = "0.4"
thiserror = "1"
tokio = "1"
tokio-postgres = { version = "0.7", default-features = false }
tokio-postgres-rustls = "0.11"
tokio-rustls = { version = "0.25.0", default-features = false }
tokio-tungstenite = { version = "0.21.0", default-features = false }
tungstenite = { version = "0.21.0", default-features = false }
tower-http = "0.5"
tower-service = "0.3"
url = "2"
uuid = "1"
ulid = "1"
wasm-bindgen = "0.2"
web-time = "1"
which = "6"
wiremock = "0.6.0"
worker = "0.0.21"
fnv = "1"
sha2 = "0.10"

# Serde
serde = { version = "1", features = ["derive"] }
serde_dynamo = "4"
serde_json = { version = "1", features = ["preserve_order"] }
serde-wasm-bindgen = "0.6"
serde_with = "3"

# Tracing
tracing = "0.1"
tracing-subscriber = "0.3"
tracing-futures = "0.2"

# Common
graph-ref = { path = "graph-ref" }
grafbase-graphql-introspection = { path = "graphql-introspection" }

# Gateway
federated-server = { path = "gateway/crates/federated-server" }

# Engine
async-runtime = { path = "engine/crates/async-runtime" }
common-types = { path = "engine/crates/common-types" }
dataloader = { path = "engine/crates/dataloader", features = ["tracing"] }
engine-config-builder = { path = "engine/crates/engine-config-builder" }
engine-parser = { path = "engine/crates/engine/parser" }
engine = { path = "engine/crates/engine" }
engine-v2 = { path = "engine/crates/engine-v2" }
engine-value = { path = "engine/crates/engine/value" }
gateway-adapter-local = { path = "engine/crates/gateway-adapter-local" }
gateway-adapter = { path = "engine/crates/gateway-adapter" }
gateway-core = { path = "engine/crates/gateway-core" }
gateway-v2 = { path = "engine/crates/gateway-v2" }
gateway-v2-auth = { path = "engine/crates/gateway-v2/auth" }
gateway-v2-auth-config = { path = "engine/crates/gateway-v2/auth-config" }
grafbase-tracing = { path = "engine/crates/tracing" }
graph-entities = { path = "engine/crates/graph-entities" }
graphql-composition = { path = "engine/crates/composition" }
graphql-cursor = { path = "engine/crates/graphql-cursor" }
graphql-extensions = { path = "engine/crates/graphql-extensions" }
graphql-mocks = { path = "engine/crates/graphql-mocks" }
jwt-verifier = { path = "engine/crates/jwt-verifier" }
log = { path = "engine/crates/log" }
parser-graphql = { path = "engine/crates/parser-graphql" }
parser-openapi = { path = "engine/crates/parser-openapi" }
parser-postgres = { path = "engine/crates/parser-postgres" }
runtime-local = { path = "engine/crates/runtime-local" }
runtime-noop = { path = "engine/crates/runtime-noop" }
runtime = { path = "engine/crates/runtime" }
worker-env = { path = "engine/crates/worker-env" }

[profile.bench]
debug = true

[profile.release]
strip = "symbols"
# by enabling link-time optimization, we can reduce size even further
# by telling cargo to optimize at the link stage (in addition to the
# normal optimizations during the compilation stage)
lto = "thin"
codegen-units = 1

[workspace.lints.rust]
nonstandard-style = "deny"
rust-2018-idioms = "deny"
unused-crate-dependencies = "deny"

[workspace.lints.clippy]
all = "deny"
panic = "deny"

# Opt out of lints that have too many false positives or are yet to be addressed.
bool-to-int-with-if = "allow"
cast-possible-truncation = "allow"
default-trait-access = "allow"
derive-partial-eq-without-eq = "allow"
doc-markdown = "allow"
enum-glob-use = "allow"
implicit-hasher = "allow"
items-after-statements = "allow"
into_iter_without_iter = "allow"
iter_without_into_iter = "allow"
large-digit-groups = "allow"
let-underscore-untyped = "allow"
let-with-type-underscore = "allow"
manual-assert = "allow"
map-unwrap-or = "allow"
match-wildcard-for-single-variants = "allow"
missing-errors-doc = "allow"
missing-panics-doc = "allow"
module-name-repetitions = "allow"
must-use-candidate = "allow"
needless-pass-by-value = "allow"
redundant-closure-for-method-calls = "allow"
single-match-else = "allow"
struct-excessive-bools = "allow"
struct-field-names = "allow"
too-many-lines = "allow"
unnecessary-fallible-conversions = "allow"
unused-async = "allow"
unused-self = "allow"
wildcard-imports = "allow"
