[package]
name = "wasi-component-loader"
version.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
keywords.workspace = true
repository.workspace = true

[dependencies]
anyhow.workspace = true
http.workspace = true
thiserror.workspace = true
tracing.workspace = true
url.workspace = true
gateway-config.workspace = true
crossbeam = { version = "0.8.4", features = ["crossbeam-channel"] }
tokio = { workspace = true, features = ["time", "rt"] }
grafbase-telemetry.workspace = true
grafbase-workspace-hack.workspace = true

[dependencies.wasmtime]
version = "26.0.0"

[dependencies.wasmtime-wasi]
version = "26.0.0"
default-features = false

[dependencies.wasmtime-wasi-http]
version = "26.0.0"

[lints]
workspace = true

[dev-dependencies]
expect-test = "1.5.0"
indoc = "2.0.5"
serde_json.workspace = true
base64.workspace = true
insta.workspace = true
tempdir = "0.3.7"
tokio = { workspace = true, features = ["rt-multi-thread", "macros"] }
toml = "0.8.14"
wiremock.workspace = true
