[package]
name = "wasi-component-loader"
version.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
keywords.workspace = true
repository.workspace = true

[dependencies]
anyhow.workspace = true
grafbase-tracing.workspace = true
http.workspace = true
serde.workspace = true
thiserror.workspace = true
tracing.workspace = true
wasmtime = "21.0.1"
wasmtime-wasi = { version = "21.0.1", default-features = false }
wasmtime-wasi-http = "21.0.1"

[lints]
workspace = true

[dev-dependencies]
expect-test = "1.5.0"
indoc = "2.0.5"
tempdir = "0.3.7"
tokio = { workspace = true, features = ["rt-multi-thread", "macros"] }
toml = "0.8.14"
wiremock.workspace = true
