[package]
authors = ["Grafbase"]
description = "Engine configuration structs"
edition = "2021"
homepage = "https://grafbase.com"
keywords = ["graphql", "engine", "grafbase"]
license = "MPL-2.0"
name = "engine-v2-config"
repository = "https://github.com/grafbase/grafbase"
version = "0.1.0"

[dependencies]
base64.workspace = true
secrecy.workspace = true
serde.workspace = true
serde_with.workspace = true
thiserror.workspace = true
url = { workspace = true, features = ["serde"] }

federated-graph = { package = "graphql-federated-graph", path = "../../federated-graph" }
gateway-auth-config = { package = "gateway-v2-auth-config", path = "../../gateway-v2/auth-config" }

[dev-dependencies]
insta.workspace = true
serde_json = "1.0"
