[package]
name = "graphql-composition"
version = "0.4.0"
edition = "2021"
license = "Apache-2.0"
description = "An implementation of GraphQL federated schema composition"
repository = "https://github.com/grafbase/grafbase/tree/main/engine/crates/composition"
keywords = ["graphql", "federation"]

[lints]
workspace = true

[dependencies]
graphql-federated-graph = { path = "../federated-graph", version = "0.4.0" }
async-graphql-parser.workspace = true
async-graphql-value.workspace = true
indexmap.workspace = true
itertools.workspace = true

[dev-dependencies]
datatest-stable = "0.2.9"
similar = "2.5.0"
miette = { version = "7.2.0", features = ["fancy"] }

[[test]]
name = "composition_tests"
harness = false
