NEXT_PUBLIC_GRAFBASE_API_URL=http://localhost:4000/graphql
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
# Optional secret key
CLERK_SECRET_KEY=

# Clerk Legacy API keys use the following:
# NEXT_PUBLIC_CLERK_FRONTEND_API=
