[workspace]

[package]
edition = "2024"

name = "grpc-example-server"
version = "0.1.0"

[dependencies]
async-stream = "0.3.6"
prost = "0.14"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tokio = { version = "1", features = ["full"] }
tokio-stream = "0.1"
tonic = "0.12"

[build-dependencies]
tonic-build = "0.14"

[[bin]]
name = "server"
path = "src/server.rs"
