[package]
name = "engine"
version = "3.0.31"
authors = ["Grafbase"]
description = "A dynamic GraphQL engine written in Rust"
edition = "2021"
readme = "README.md"
license = "MPL-2.0"
homepage = "https://grafbase.com"
repository = "https://github.com/grafbase/grafbase"
keywords = ["graphql", "engine", "grafbase"]

[lints]
workspace = true

[dependencies]
async-lock = "3.3.0"
async-recursion = "1.1.1"
async-stream = "0.3.5"
async-trait = "0.1.80"
common-types.workspace = true
grafbase-sql-ast = "0.1.9"
postgres-connector-types = { path = "../postgres-connector-types" }
bytes = { version = "1.6.0", features = ["serde"] }
case = "1"
chrono = { version = "0.4.38", default-features = false, features = [
  "clock",
  "std",
] }
derivative = "2"
flexbuffers.workspace = true
fnv.workspace = true
futures.workspace = true
futures-util = { workspace = true, features = ["io", "sink"] }
futures-channel = { version = "0.3.30", default-features = false }
gateway-v2-auth-config.workspace = true
http.workspace = true
indexmap.workspace = true
indoc = "2"
Inflector = { version = "0.11" }
internment.workspace = true
mime = "0.3"
multer = "3"
operation-normalizer.workspace = true
pin-project-lite = "0.2"
serde.workspace = true
serde_json.workspace = true
serde_with = { workspace = true, features = ["base64", "hex"] }
static_assertions = "1.1.0"
strum_macros.workspace = true
tempfile = "3.10.1"
thiserror.workspace = true
ulid.workspace = true
url = { workspace = true, features = ["serde"] }
web-time.workspace = true

# API dependencies
dataloader.workspace = true
engine-derive = { path = "derive", version = "3" }
engine-parser = { path = "parser", version = "3" }
engine-response.workspace = true
engine-scalars.path = "scalars"
engine-validation.workspace = true
engine-value = { path = "value", version = "3" }
grafbase-telemetry.workspace = true
graph-entities.workspace = true
graphql-cursor.workspace = true
meta-type-name.path = "meta-type-name"
query-path.workspace = true
registry-v1.workspace = true
registry-v2.workspace = true
runtime.workspace = true

# Feature optional dependencies
tracing.workspace = true
async-runtime.workspace = true

# Non-feature optional dependencies
uuid.workspace = true
grafbase-workspace-hack = { version = "0.1", path = "../../../workspace-hack" }

[target.'cfg(target_arch = "wasm32")'.dependencies]
reqwest = { workspace = true, features = ["json"] }
getrandom = { version = "0.2.14", features = ["js"] }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
reqwest = { workspace = true, features = [
  "json",
  "rustls-tls",
] }

[dev-dependencies]
indoc = "2.0.5"
insta.workspace = true
registry-upgrade.workspace = true
rstest.workspace = true
runtime = { workspace = true, features = ["test-utils"] }
sha2.workspace = true
urlencoding = "2.1.3"
