[package]
name = "engine"
version = "3.0.31"
authors = ["Grafbase"]
description = "A dynamic GraphQL engine written in Rust"
edition = "2021"
readme = "README.md"
license = "MPL-2.0"
homepage = "https://grafbase.com"
repository = "https://github.com/grafbase/grafbase"
keywords = ["graphql", "engine", "grafbase"]

[lints]
workspace = true

[dependencies]
async-lock = "3"
async-recursion = "1"
async-stream = "0.3"
async-trait = "0.1"
common-types.workspace = true
grafbase-sql-ast = "0.1.9"
postgres-connector-types = { path = "../postgres-connector-types" }
bytes = { version = "1", features = ["serde"] }
case = "1"
chrono = { version = "0.4", default-features = false, features = [
  "clock",
  "std",
] }
derivative = "2"
fast_chemail = "0.9"
flexbuffers.workspace = true
fnv.workspace = true
futures.workspace = true
futures-util = { workspace = true, features = ["io", "sink"] }
http.workspace = true
im = "15"
indexmap.workspace = true
indoc = "2"
Inflector = { version = "0.11" }
internment = { version = "0.7", features = ["serde", "arc"] }
ipnet = "2"
mime = "0.3"
multer = "3"
nom = "7"
num-traits = "0.2"
once_cell = "1"
pin-project-lite = "0.2"
regex.workspace = true
secrecy = { version = "0.8", features = ["serde"] }
serde.workspace = true
serde_json.workspace = true
serde_with = { workspace = true, features = ["base64"] }
static_assertions = "1"
tempfile = "3"
thiserror.workspace = true
url = { workspace = true, features = ["serde"] }
web-time.workspace = true

# API dependencies
dataloader.workspace = true
engine-derive = { path = "derive", version = "3" }
engine-value = { path = "value", version = "3" }
engine-parser = { path = "parser", version = "3" }
runtime.workspace = true
graph-entities.workspace = true
log = { path = "../log" }

# Feature optional dependencies
rust_decimal = { version = "1" }
tracing.workspace = true
async-runtime.workspace = true

# Non-feature optional dependencies
base64.workspace = true
time = { version = "0.3.31", features = ["parsing"] }
uuid.workspace = true
hex = "0.4.3"

[target.'cfg(target_arch = "wasm32")'.dependencies]
ulid = { workspace = true, features = ["wasm"] }
reqwest = { workspace = true, features = ["json"] }
getrandom = { version = "0.2", features = ["js"] }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
ulid.workspace = true
reqwest = { workspace = true, features = [
  "json",
  "rustls-tls",
] }

[dev-dependencies]
indoc = "2"
sha2 = { version = "0.10", default-features = false }
insta = { version = "1", features = ["json"] }
rstest.workspace = true
sanitize-filename = "0.5"
tokio = { workspace = true, features = ["macros"] }
urlencoding = "2.1"
wiremock.workspace = true
runtime = { workspace = true, features = ["test-utils"] }
