GRAFBASE_API_URL=http://localhost:4000/graphql

# The GRAFBASE_ISSUER_URL and NEXTAUTH_SECRET must match that set inside the grafbase/.env
NEXTAUTH_SECRET=
GRAFBASE_ISSUER_URL=https://grafbase.com

# Create a new GitHub app in your account settings to obtain these values
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=