[package]
name = "grafbase-hooks"
version = "0.4.0"
description = "An SDK to implement hooks for the Grafbase Gateway"
edition.workspace = true
license.workspace = true
homepage.workspace = true
keywords.workspace = true
repository.workspace = true

[features]
default = ["derive"]
derive = ["dep:grafbase-hooks-derive"]

[dependencies]
grafbase-hooks-derive = { version = "0.1.0", path = "derive", optional = true }
serde.workspace = true
serde_json.workspace = true
wit-bindgen.workspace = true

[lints]
workspace = true

[package.metadata.component]
target = { path = "wit" }

[package.metadata.docs.rs]
all-features = true
