---
layout: base
title: Grafbook
---

<h1>Grafbook</h1>

<ul>
  {%- for message in messages -%}
  <li>
    <p>
      <strong>{{ message.node.author }}</strong
      ><br />
      <small>
        <a href="/messages/{{ message.node.id }}">{{
          message.node.createdAt | date
        }}</a>
      </small>
    </p>
    <p>{{ message.node.body }}</p>
  </li>
  {%- endfor -%}
</ul>
