[package]
name = "grafbase-tracing"
authors = ["Grafbase"]
description = "Tracing capabilities for Grafbase"
version = "0.1.0"
edition = "2021"
homepage = "https://grafbase.com"
repository = "https://github.com/grafbase/grafbase"
keywords = ["tracing", "grafbase"]

[lints]
workspace = true

[dependencies]
chrono.workspace = true
base64.workspace = true
http.workspace = true
http-body = "1.0"
serde.workspace = true
thiserror.workspace = true
tonic = { version = "0.11.0", optional = true }
tower-http = { workspace = true, optional = true, features = ["trace"] }
url = { workspace = true, features = ["serde"] }
worker = { workspace = true, optional = true }
headers.workspace = true

# tracing
tracing.workspace = true
tracing-subscriber = { workspace = true, features = ["env-filter"] }
tracing-opentelemetry = "0.23"
opentelemetry = "0.22"
opentelemetry_sdk = { version = "0.22.1", features = ["rt-tokio"] }
opentelemetry-stdout = { version = "0.3", features = ["trace", "metrics"] }
opentelemetry-otlp = { version = "0.15" , features = ["grpc-tonic", "tls", "tonic", "http-proto"], optional = true }

[features]
default = []
tower = ["dep:tower-http"]
otlp = ["dep:opentelemetry-otlp", "dep:tonic"]
worker = ["dep:worker"]
lambda = []

[dev-dependencies]
indoc = "2.0.5"
insta = "1.38.0"
tempfile = "3.10.1"
toml = "0.8.12"
