[package]
name = "typed-resolvers"
version.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
keywords.workspace = true
repository.workspace = true
publish = false

[lints]
workspace = true

[dependencies]
# For the GraphQL parser.
engine-parser = { path = "../../../engine/crates/engine/parser" }
engine-value = { path = "../../../engine/crates/engine/value" }

swc_ecma_parser = "0.148.1"
swc_ecma_ast = "0.117.4"
swc_common = "0.36.2"
miette = { version = "7.2.0", features = ["fancy"] }
thiserror = "1.0.59"
walkdir = "2.5.0"

[dev-dependencies]
similar = "2.5.0"
datatest-stable = "0.2.9"

[[test]]
name = "schema_types"
harness = false

[[test]]
name = "resolver_discovery"
harness = false
