[package]
name = "typed-resolvers"
version.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
keywords.workspace = true
repository.workspace = true
publish = false

[lints]
workspace = true

[dependencies]
# For the GraphQL parser.
engine-parser = { path = "../../../engine/crates/engine/parser" }
engine-value = { path = "../../../engine/crates/engine/value" }

swc_ecma_parser = "0.143.8"
swc_ecma_ast = "0.112.5"
swc_common = "0.33"
miette = { version = "5.10.0", features = ["fancy"] }
thiserror = "1.0.57"
walkdir = "2"

[dev-dependencies]
similar = "2"
datatest-stable = "0.2.3"

[[test]]
name = "schema_types"
harness = false

[[test]]
name = "resolver_discovery"
harness = false
