[package]
name = "grafbase-local-backend"
description = "The local backend for grafbase developer tools"
readme = "README.md"
version.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
keywords.workspace = true
repository.workspace = true

[dependencies]
axum.workspace = true
chrono = "0.4.38"
cynic = { workspace = true, features = ["http-reqwest"] }
ignore = "0.4.22"
reqwest = { workspace = true, features = [
    "rustls-tls",
    "stream",
    "json",
], default-features = false }
serde = "1.0.199"
serde_json = "1.0.116"
serde-toml-merge = "0.3.8"
thiserror.workspace = true
tokio = { version = "1.37.0", features = ["full"] }
toml.workspace = true
tower-http = { workspace = true, features = ["trace", "fs"] }
urlencoding = "2.1.3"
dirs = "5.0.1"
tar.workspace = true
flate2 = "1.0.35"
futures.workspace = true
notify = "7.0.0"
tokio-stream = "0.1.16"
notify-debouncer-full = "0.4.0"
tracing.workspace = true
tokio-util = "0.7.12"

common = { package = "grafbase-local-common", path = "../grafbase-local-common", version = "0.80.4" }
grafbase-workspace-hack.workspace = true
grafbase-graphql-introspection.workspace = true
gateway-config.workspace = true
federated-server.workspace = true
graphql-composition.workspace = true
federated-graph.workspace = true
serde-dynamic-string.workspace = true
crossterm = "0.28.1"


[build-dependencies]
cynic-codegen.workspace = true

[features]
default = []

[lints]
workspace = true
