{
  "openapi": "3.1.0",
  "info": {
    "title": "HPE GreenLake for Compute Ops Management API",
    "description": "GreenLake for Compute Operations Management provides a Restful API to customers who want to manage their devices programmatically or through a command line. The API enables customers to invoke operations or tasks such as list devices, see device details, device health, and manage their device's firmware.",
    "license": {
      "name": "HPE End User License Agreement",
      "url": "https://www.hpe.com/us/en/software/licensing.html"
    },
    "version": "latest"
  },
  "servers": [
    {
      "url": "https://us-west2-api.compute.cloud.hpe.com",
      "description": "Compute Ops Management API in US West 2"
    },
    {
      "url": "https://eu-central1-api.compute.cloud.hpe.com",
      "description": "Compute Ops Management API in EU Central 1"
    },
    {
      "url": "https://ap-northeast1-api.compute.cloud.hpe.com",
      "description": "Compute Ops Management API in AP NorthEast 1"
    }
  ],
  "security": [
    {
      "Bearer": []
    }
  ],
  "paths": {
    "/compute-ops/v1beta2/activities": {
      "get": {
        "summary": "List all activities",
        "description": "Retrieve the list of activities",
        "operationId": "get_v1beta2_activities",
        "tags": [
          "activities - v1beta2"
        ],
        "parameters": [
          {
            "name": "groups",
            "in": "query",
            "description": "Specify the number of _groups of activities_ that should be returned. A _group of activities_ is a single activity item that corresponds to one or more activities with the same activity `key` that occurred back-to-back. A group of activities might be \"5 servers assigned to Compute Ops Management\" or \"12 servers firmware update successful\".\nThis parameter has no relation to the groups resource.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10
            }
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "$ref": "#/components/parameters/activities-filterParam-v1beta2"
          },
          {
            "$ref": "#/components/parameters/sortParam"
          },
          {
            "$ref": "#/components/parameters/acceptLanguageHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/activityCollection-v1beta2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta1/external-services": {
      "get": {
        "summary": "List all external services",
        "description": "Get the list of external services configured",
        "operationId": "get_v1beta1_external_services",
        "tags": [
          "external-services - v1beta1"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/externalServices-filterParam-v1beta1"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/externalServicesCollection-v1beta1"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      },
      "post": {
        "summary": "Create external services",
        "description": "Create configuration for external service",
        "operationId": "create_external_services",
        "tags": [
          "external-services - v1beta1"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contentTypeHeaderJson"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/externalServicesCreateRequest-v1beta1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/externalServicesResponse-v1beta1"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "415": {
            "$ref": "#/components/responses/415-unsupportedMediaTypeResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta1/external-services/{id}": {
      "get": {
        "summary": "Get an external-services item by ID",
        "description": "Get an specific external-services item by external-services id.",
        "operationId": "get_v1beta1_external_services_by_id",
        "tags": [
          "external-services - v1beta1"
        ],
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/externalServicesResponse-v1beta1"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      },
      "delete": {
        "summary": "Delete an external-services item",
        "description": "Delete an external-services item.",
        "operationId": "delete_v1beta1_external_services_by_id",
        "tags": [
          "external-services - v1beta1"
        ],
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      },
      "patch": {
        "summary": "Patch an external-services item",
        "description": "Partially update an external-services item.",
        "operationId": "patch_v1beta1_external_services_by_id",
        "tags": [
          "external-services - v1beta1"
        ],
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "name": "id",
            "in": "path"
          },
          {
            "$ref": "#/components/parameters/contentTypeHeaderPatch"
          }
        ],
        "requestBody": {
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/externalServicesUpdateRequest-v1beta1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/externalServicesResponse-v1beta1"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "415": {
            "$ref": "#/components/responses/415-unsupportedMediaTypeResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta1/external-services/{id}/test": {
      "post": {
        "summary": "Perform a test with configured external service",
        "description": "For external service with serviceType as SERVICE_NOW, this endpoint will generate a test incident for ServiceNow. An activity will be generated as a result of this test and indicates the success or failure of creating the test incident",
        "operationId": "test_external_services",
        "tags": [
          "external-services - v1beta1"
        ],
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful Response"
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "415": {
            "$ref": "#/components/responses/415-unsupportedMediaTypeResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta1/filters": {
      "get": {
        "summary": "List all saved filters",
        "description": "Retrieve a paginated collection of saved filter resources.",
        "tags": [
          "filters - v1beta1"
        ],
        "operationId": "get_filters",
        "parameters": [
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 0,
              "maximum": 10000
            }
          },
          {
            "$ref": "#/components/parameters/filters-filterParam-v1beta1"
          },
          {
            "$ref": "#/components/parameters/sortParam",
            "schema": {
              "type": "string",
              "default": "createdAt asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/filterCollection-v1beta1"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      },
      "post": {
        "summary": "Save a filter",
        "description": "Create a new saved filter resource.",
        "tags": [
          "filters - v1beta1"
        ],
        "operationId": "create_filter",
        "parameters": [
          {
            "$ref": "#/components/parameters/idempotencyKeyHeader"
          },
          {
            "$ref": "#/components/parameters/contentTypeHeaderJson"
          },
          {
            "in": "query",
            "name": "dry-run",
            "description": "If `true`, do not create the saved filter - instead, perform validation of filter name and syntax as if creating the filter.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/filter-v1beta1",
                "oneOf": [
                  {
                    "required": [
                      "name",
                      "filter"
                    ]
                  },
                  {
                    "required": [
                      "name",
                      "filterTags"
                    ]
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Location": {
                "description": "The URI of the newly-created resource",
                "example": "/compute-ops/v1beta1/filters/b870f080-6448-48c5-b23a-d04f2d489174",
                "schema": {
                  "type": "string",
                  "format": "uri-reference"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/filter-v1beta1"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/409-conflictResponse"
          },
          "415": {
            "$ref": "#/components/responses/415-unsupportedMediaTypeResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta1/filters/properties": {
      "get": {
        "summary": "Get filterable properties",
        "description": "Retrieve information about resource properties usable in saved filters.",
        "tags": [
          "filters - v1beta1"
        ],
        "operationId": "get_filter_properties",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/filterProperties-v1beta1"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta1/filters/{id}": {
      "get": {
        "summary": "Get a saved filter",
        "description": "Retrieve a single saved filter resource by ID.",
        "tags": [
          "filters - v1beta1"
        ],
        "operationId": "get_filter",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Filter ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/filter-v1beta1"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      },
      "delete": {
        "summary": "Delete a saved filter",
        "description": "Delete a saved filter resource.",
        "tags": [
          "filters - v1beta1"
        ],
        "operationId": "delete_filter",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Filter ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      },
      "patch": {
        "summary": "Update a saved filter",
        "description": "A update a saved filter resource, using the [RFC 7396](https://datatracker.ietf.org/doc/html/rfc7396) (JSON Merge Patch) format.",
        "tags": [
          "filters - v1beta1"
        ],
        "operationId": "patch_filter",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Filter ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/ifMatchHeader"
          },
          {
            "$ref": "#/components/parameters/contentTypeHeaderPatch"
          }
        ],
        "requestBody": {
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/filter-v1beta1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/filter-v1beta1"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "412": {
            "$ref": "#/components/responses/412-preconditionFailedResponse"
          },
          "415": {
            "$ref": "#/components/responses/415-unsupportedMediaTypeResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta1/filters/{id}/matches": {
      "get": {
        "summary": "List resources matching a filter",
        "description": "Retrieve a paginated collection of match entries that indicate which resources match a saved filter.",
        "tags": [
          "filters - v1beta1"
        ],
        "operationId": "get_filter_matches",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Filter ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 0,
              "maximum": 10000
            }
          },
          {
            "$ref": "#/components/parameters/sortParam",
            "schema": {
              "type": "string",
              "default": "id asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/filterMatchCollection-v1beta1"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta2/firmware-bundles": {
      "get": {
        "summary": "List all firmware bundles",
        "description": "Retrieve the list of firmware bundles",
        "operationId": "get_v1beta2_firmware_bundles",
        "tags": [
          "firmware-bundles - v1beta2"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/firmwareBundleCollection-v1beta2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta2/firmware-bundles/{id}": {
      "get": {
        "summary": "Get a firmware bundle by ID",
        "description": "Retrieve the firmware bundle details by its `id`",
        "operationId": "get_v1beta2_firmware_bundle_by_id",
        "tags": [
          "firmware-bundles - v1beta2"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique Firmware bundle identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/firmwareBundle-v1beta2"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta2/groups": {
      "get": {
        "summary": "List all groups",
        "description": "Get the list of a user's groups.",
        "operationId": "get_v1beta2_groups",
        "tags": [
          "groups - v1beta2"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "$ref": "#/components/parameters/groups-filterParam-v1beta2"
          },
          {
            "$ref": "#/components/parameters/sortParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/groupCollection-v1beta2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      },
      "post": {
        "summary": "Create a group",
        "description": "Create a group for a specific user.",
        "operationId": "create_v1beta2_group",
        "tags": [
          "groups - v1beta2"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contentTypeHeaderJson"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/groupCreateRequest-v1beta2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "headers": {
              "Location": {
                "description": "Location for the group that was created",
                "schema": {
                  "type": "string",
                  "format": "uri-reference",
                  "example": "/compute-ops/v1beta2/groups/0e7f516c-0829-4135-83d6-09ce844ddd9d"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/groupResponse-v1beta2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/409-conflictResponse"
          },
          "415": {
            "$ref": "#/components/responses/415-unsupportedMediaTypeResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta2/groups/{group-id}": {
      "get": {
        "summary": "Get a group by ID",
        "description": "Get a specific group by group id.",
        "operationId": "get_v1beta2_group_by_id",
        "tags": [
          "groups - v1beta2"
        ],
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "name": "group-id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/groupResponse-v1beta2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      },
      "delete": {
        "summary": "Delete a group",
        "description": "Delete a group.",
        "operationId": "delete_v1beta2_group_by_id",
        "tags": [
          "groups - v1beta2"
        ],
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "name": "group-id",
            "in": "path"
          },
          {
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "name": "force",
            "in": "query"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      },
      "patch": {
        "summary": "Patch a group",
        "description": "Partially update a group.",
        "operationId": "patch_v1beta2_group_by_id",
        "tags": [
          "groups - v1beta2"
        ],
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "name": "group-id",
            "in": "path"
          },
          {
            "$ref": "#/components/parameters/contentTypeHeaderPatch"
          }
        ],
        "requestBody": {
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/groupUpdateRequest-v1beta2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/groupResponse-v1beta2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "415": {
            "$ref": "#/components/responses/415-unsupportedMediaTypeResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta2/groups/{group-id}/compliance": {
      "get": {
        "summary": "List all devices compliance in a group",
        "description": "List all the device's compliance detail",
        "operationId": "get_v1beta2_group_devices_compliance",
        "tags": [
          "groups - v1beta2"
        ],
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "name": "group-id",
            "in": "path"
          },
          {
            "$ref": "#/components/parameters/groups-filterParam-v1beta2"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deviceComplianceCollection-v1beta2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta2/groups/{group-id}/compliance/{compliance-id}": {
      "get": {
        "summary": "Get a device compliance by compliance Id",
        "description": "Get a specific device compliance detail of the group by passing group id and compliance id.",
        "operationId": "get_v1beta2_compliance_by_compliance_id",
        "tags": [
          "groups - v1beta2"
        ],
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "name": "group-id",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "name": "compliance-id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deviceCompliance-v1beta2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta2/groups/{group-id}/devices": {
      "get": {
        "summary": "List all devices in a group",
        "operationId": "get_v1beta2_group_devices",
        "tags": [
          "groups - v1beta2"
        ],
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "name": "group-id",
            "in": "path"
          },
          {
            "$ref": "#/components/parameters/groups-filterParam-v1beta2"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deviceResponseCollection-v1beta2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      },
      "post": {
        "summary": "Assign a device to a group",
        "operationId": "assign_v1beta2_group_devices",
        "tags": [
          "groups - v1beta2"
        ],
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "name": "group-id",
            "in": "path"
          },
          {
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "name": "dry-run",
            "in": "query",
            "description": "When set to `false`, servers will be assigned or moved to the group specified by `group-id` barring any errors.\n\nWhen set to `true`, servers will not be assigned or moved to the specified group. This `dry-run` request will return useful information about the servers involved in the request, such as the latest eTags.\n"
          },
          {
            "$ref": "#/components/parameters/contentTypeHeaderJson"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/groupAssignRequest-v1beta2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deviceResponseCollectionNew-v1beta2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/409-conflictResponse"
          },
          "412": {
            "$ref": "#/components/responses/412-preconditionFailedResponse"
          },
          "415": {
            "$ref": "#/components/responses/415-unsupportedMediaTypeResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      },
      "delete": {
        "summary": "Bulk unassign devices from a group",
        "operationId": "unassign_v1beta2_group_devices",
        "tags": [
          "groups - v1beta2"
        ],
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "name": "group-id",
            "in": "path"
          },
          {
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            },
            "style": "form",
            "explode": true,
            "name": "id",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "name": "force",
            "in": "query"
          },
          {
            "$ref": "#/components/parameters/groups-filterParam-v1beta2"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta2/groups/{group-id}/devices/{device-id}": {
      "delete": {
        "summary": "Unassign a device from a group",
        "operationId": "unassign_v1beta2_group_device_by_id",
        "tags": [
          "groups - v1beta2"
        ],
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "name": "group-id",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "type": "string"
            },
            "name": "device-id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta2/job-templates": {
      "get": {
        "summary": "List all job templates",
        "description": "Retrieve the list of job templates",
        "operationId": "get_v1beta2_job_templates",
        "tags": [
          "job-templates - v1beta2"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of job templates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/jobTemplateCollection-v1beta2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta2/job-templates/{id}": {
      "get": {
        "summary": "Get a job template",
        "description": "Retrieve details about the job template referenced by its `id`",
        "operationId": "get_v1beta2_job_template_by_id",
        "tags": [
          "job-templates - v1beta2"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique Job template identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job template data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/jobTemplate-v1beta2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta3/jobs": {
      "get": {
        "summary": "List all jobs",
        "description": "Retrieve the list of jobs",
        "operationId": "get_v1beta3_jobs",
        "tags": [
          "jobs - v1beta3"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/jobCollection-v1beta3"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      },
      "post": {
        "summary": "Create a job",
        "description": "Create a job for a given resource. A job is a multi-step task performed by Compute Ops Manager.\n\nThis table summarizes the jobs and their template IDs. For more information about each job template, expand the Job\nDefinitions section and click on Overview to get started.\n\n| Name                                 | Description                                         | Resource Type      | Template ID                          |\n| ------------------------------------ | --------------------------------------------------  | ------------------ | ------------------------------------ |\n| Server Power Off                     | Power off a server                                  | compute-ops/server | d0c13b58-748c-461f-9a61-c0c5c71f1bb4 |\n| Server Power On                      | Power on a server                                   | compute-ops/server | 0cbb2377-1834-488d-840c-d5bf788c34fb |\n| Server Restart                       | Restart a server                                    | compute-ops/server | 30110551-cad6-4069-95b8-dbce9bbd8525 |\n| Server Cold Boot                     | Cold boot a server                                  | compute-ops/server | aacfb3e0-6575-4d4f-a711-1ee1ae768407 |\n| Server Firmware Update               | Update firmware on a server                         | compute-ops/server | fd54a96c-cabc-42e3-aee3-374a2d009dba |\n| Server iLO Firmware Update           | Update iLO component firmware on a server           | compute-ops/server | 94caa4ef-9ff8-4805-9e97-18a09e673b66 |\n| Group Firmware Update                | Update firmware on servers in a group               | compute-ops/group  | 91159b5e-9eeb-11ec-a9da-00155dc0a0c0 |\n| Group Firmware Compliance            | Calculate firmware compliance of servers in a group | compute-ops/group  | 23b8ba2a-6c46-4223-b028-919382c7dcac |\n| Group Internal Storage Configuration | Configures internal storage volume for servers in a group | compute-ops/group | c708eb57-235d-4ea8-9e21-8ceea2438773 |\n| Group Apply Server Setting           | Apply server setting on a group                     | compute-ops/group  | beff07ce-f36d-4699-9ac3-f872dcd63133 |\n| Carbon Footprint Report              | Create carbon footprint report                      | compute-ops/filter | b0001d36-6490-48ac-93af-a87adfb997ed |\n",
        "operationId": "create_v1beta3_job",
        "tags": [
          "jobs - v1beta3"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contentTypeHeaderJson"
          }
        ],
        "requestBody": {
          "description": "Job request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/jobCreate-v1beta3"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/job-v1beta3"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "415": {
            "$ref": "#/components/responses/415-unsupportedMediaTypeResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta3/jobs/{id}": {
      "get": {
        "summary": "Get a job by ID",
        "description": "Retrieve details about the job referenced by its `id`",
        "operationId": "get_v1beta3_job_by_id",
        "tags": [
          "jobs - v1beta3"
        ],
        "responses": {
          "200": {
            "description": "Job data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/job-v1beta3"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      },
      "patch": {
        "summary": "Patch a job by ID",
        "description": "Updates an existing job",
        "operationId": "patch_v1beta3_job_by_id",
        "tags": [
          "jobs - v1beta3"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contentTypeHeaderPatch"
          }
        ],
        "requestBody": {
          "description": "Job update data",
          "required": true,
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/jobUpdate-v1beta3"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/job-v1beta3"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "412": {
            "$ref": "#/components/responses/412-preconditionFailedResponse"
          },
          "415": {
            "$ref": "#/components/responses/415-unsupportedMediaTypeResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "Unique Job identifier",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ]
    },
    "/compute-ops/v1beta2/jobs": {
      "get": {
        "summary": "List all jobs",
        "description": "Retrieve the list of jobs",
        "operationId": "get_v1beta2_jobs",
        "tags": [
          "jobs - v1beta2"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/jobCollection-v1beta2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      },
      "post": {
        "summary": "Create a job",
        "description": "Create a job for a given resource. A job is a multi-step task performed by Compute Ops Manager.\n\nThis table summarizes the jobs and their template IDs. For more information about each job template, expand the Job\nDefinitions section and click on Overview to get started.\n\n| Name                                 | Description                                         | Resource Type      | Template ID                          |\n| ------------------------------------ | --------------------------------------------------  | ------------------ | ------------------------------------ |\n| Server Power Off                     | Power off a server                                  | compute-ops/server | d0c13b58-748c-461f-9a61-c0c5c71f1bb4 |\n| Server Power On                      | Power on a server                                   | compute-ops/server | 0cbb2377-1834-488d-840c-d5bf788c34fb |\n| Server Restart                       | Restart a server                                    | compute-ops/server | 30110551-cad6-4069-95b8-dbce9bbd8525 |\n| Server Cold Boot                     | Cold boot a server                                  | compute-ops/server | aacfb3e0-6575-4d4f-a711-1ee1ae768407 |\n| Server Firmware Update               | Update firmware on a server                         | compute-ops/server | fd54a96c-cabc-42e3-aee3-374a2d009dba |\n| Server iLO Firmware Update           | Update iLO component firmware on a server           | compute-ops/server | 94caa4ef-9ff8-4805-9e97-18a09e673b66 |\n| Group Firmware Update                | Update firmware on servers in a group               | compute-ops/group  | 91159b5e-9eeb-11ec-a9da-00155dc0a0c0 |\n| Group Firmware Compliance            | Calculate firmware compliance of servers in a group | compute-ops/group  | 23b8ba2a-6c46-4223-b028-919382c7dcac |\n| Group Internal Storage Configuration | Configures internal storage volume for servers in a group | compute-ops/group | c708eb57-235d-4ea8-9e21-8ceea2438773 |\n| Group Apply Server Setting           | Apply server setting on a group                     | compute-ops/group  | beff07ce-f36d-4699-9ac3-f872dcd63133 |\n| Carbon Footprint Report              | Create carbon footprint report                      | compute-ops/filter | b0001d36-6490-48ac-93af-a87adfb997ed |\n",
        "operationId": "create_v1beta2_job",
        "tags": [
          "jobs - v1beta2"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contentTypeHeaderJson"
          }
        ],
        "requestBody": {
          "description": "Job request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/jobCreate-v1beta2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/job-v1beta2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "415": {
            "$ref": "#/components/responses/415-unsupportedMediaTypeResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta2/jobs/{id}": {
      "get": {
        "summary": "Get a job by ID",
        "description": "Retrieve details about the job referenced by its `id`",
        "operationId": "get_v1beta2_job_by_id",
        "tags": [
          "jobs - v1beta2"
        ],
        "responses": {
          "200": {
            "description": "Job data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/job-v1beta2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      },
      "patch": {
        "summary": "Patch a job by ID",
        "description": "Updates an existing job",
        "operationId": "patch_v1beta2_job_by_id",
        "tags": [
          "jobs - v1beta2"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contentTypeHeaderPatch"
          }
        ],
        "requestBody": {
          "description": "Job update data",
          "required": true,
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/jobUpdate-v1beta2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/job-v1beta2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "412": {
            "$ref": "#/components/responses/412-preconditionFailedResponse"
          },
          "415": {
            "$ref": "#/components/responses/415-unsupportedMediaTypeResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "Unique Job identifier",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ]
    },
    "/compute-ops/v1beta1/reports": {
      "get": {
        "summary": "List all reports",
        "description": "Retrieve a paginated collection of report metadata resources.  Currently, only the latest report of each\ntype is retained.\n",
        "tags": [
          "reports - v1beta1"
        ],
        "operationId": "get_reports",
        "parameters": [
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam",
            "schema": {
              "type": "integer",
              "default": 5,
              "minimum": 0,
              "maximum": 10
            }
          },
          {
            "$ref": "#/components/parameters/reports-filterParam-v1beta1"
          },
          {
            "$ref": "#/components/parameters/sortParam",
            "schema": {
              "type": "string",
              "default": "createdAt desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/reportCollection-v1beta1"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta1/reports/{id}": {
      "get": {
        "summary": "Get report metadata",
        "description": "Retrieve a single report metadata resource by ID.\n",
        "tags": [
          "reports - v1beta1"
        ],
        "operationId": "get_report",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Report ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/report-v1beta1"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta1/reports/{id}/data": {
      "get": {
        "summary": "Get report data",
        "description": "Retrieve the data for a report.\n",
        "tags": [
          "reports - v1beta1"
        ],
        "operationId": "get_report_data",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Report ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/reports-filterParam-v1beta1"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/reportData-v1beta1"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta2/schedules": {
      "get": {
        "summary": "List all schedules",
        "description": "Retrieve a paginated collection of schedule resources.",
        "tags": [
          "schedules - v1beta2"
        ],
        "operationId": "get_v1beta2_schedules",
        "parameters": [
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 0,
              "maximum": 10000
            }
          },
          {
            "$ref": "#/components/parameters/schedules-filterParam-v1beta2"
          },
          {
            "$ref": "#/components/parameters/sortParam",
            "schema": {
              "type": "string",
              "default": "createdAt asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleCollection-v1beta2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      },
      "post": {
        "summary": "Create a schedule",
        "description": "Create a new schedule resource. This endpoint requires permission to call the `uri` endpoint specified in the `operation` of the request.",
        "tags": [
          "schedules - v1beta2"
        ],
        "operationId": "create_v1beta2_schedule",
        "parameters": [
          {
            "$ref": "#/components/parameters/idempotencyKeyHeader"
          },
          {
            "$ref": "#/components/parameters/contentTypeHeaderJson"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/schedulePost-v1beta2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "headers": {
              "Location": {
                "description": "The URI of the newly-created resource",
                "example": "/compute-ops/v1beta2/schedules/37f66ae4-20a1-48f1-b552-b515457639ca",
                "schema": {
                  "type": "string",
                  "format": "uri-reference"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/schedule-v1beta2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/409-conflictResponse"
          },
          "415": {
            "$ref": "#/components/responses/415-unsupportedMediaTypeResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta2/schedules/{id}": {
      "get": {
        "summary": "Get a schedule",
        "description": "Retrieve a single schedule resource by ID.",
        "tags": [
          "schedules - v1beta2"
        ],
        "operationId": "get_v1beta2_schedule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Schedule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/schedule-v1beta2"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      },
      "delete": {
        "summary": "Delete a schedule",
        "description": "Delete a schedule resource and its associated history.",
        "tags": [
          "schedules - v1beta2"
        ],
        "operationId": "delete_v1beta2_schedule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Schedule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      },
      "patch": {
        "summary": "Update a schedule",
        "description": "A update a schedule resource, using the [RFC 7396](https://datatracker.ietf.org/doc/html/rfc7396) (JSON Merge Patch) format.",
        "tags": [
          "schedules - v1beta2"
        ],
        "operationId": "patch_v1beta2_schedule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Schedule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/ifMatchHeader"
          },
          {
            "$ref": "#/components/parameters/contentTypeHeaderPatch"
          }
        ],
        "requestBody": {
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/schedulePatch-v1beta2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/schedule-v1beta2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "412": {
            "$ref": "#/components/responses/412-preconditionFailedResponse"
          },
          "415": {
            "$ref": "#/components/responses/415-unsupportedMediaTypeResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta2/schedules/{id}/history": {
      "get": {
        "summary": "List all history of a schedule",
        "description": "Retrieve a paginated collection of history entries for a schedule resource.",
        "tags": [
          "schedules - v1beta2"
        ],
        "operationId": "get_v1beta2_schedule_history",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Schedule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 0,
              "maximum": 10000
            }
          },
          {
            "$ref": "#/components/parameters/schedules-filterParam-v1beta2"
          },
          {
            "$ref": "#/components/parameters/sortParam",
            "schema": {
              "type": "string",
              "default": "startedAt desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleHistoryCollection-v1beta2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta2/schedules/{id}/history/{history-id}": {
      "get": {
        "summary": "Get a history resource",
        "description": "Retrieve a single history entry for a schedule resource.",
        "tags": [
          "schedules - v1beta2"
        ],
        "operationId": "get_v1beta2_schedule_history_entry",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Schedule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "history-id",
            "in": "path",
            "description": "History ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleHistory-v1beta2"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta1/server-settings": {
      "get": {
        "summary": "List all server settings",
        "description": "Get the list of a user's server-settings",
        "operationId": "get_v1beta1_server_settings",
        "tags": [
          "server-settings - v1beta1"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/serverSettings-filterParam-v1beta1"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serverSettingsCollection-v1beta1"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      },
      "post": {
        "summary": "Create server settings",
        "description": "Create a server settings entry",
        "operationId": "create_server_settings",
        "tags": [
          "server-settings - v1beta1"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contentTypeHeaderJson"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/serverSettingsCreateRequest-v1beta1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "headers": {
              "Location": {
                "description": "Location for the server-settings item that was created",
                "schema": {
                  "type": "string",
                  "format": "uri-reference",
                  "example": "/compute-ops/v1beta1/server-settings/0e7f516c-0829-4135-83d6-09ce844ddd9d"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serverSettingsResponse-v1beta1"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/409-conflictResponse"
          },
          "415": {
            "$ref": "#/components/responses/415-unsupportedMediaTypeResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta1/server-settings/{id}": {
      "get": {
        "summary": "Get a server-settings item by ID",
        "description": "Get a specific server-settings item by server-settings id.",
        "operationId": "get_v1beta1_server_settings_by_id",
        "tags": [
          "server-settings - v1beta1"
        ],
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serverSettingsResponse-v1beta1"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      },
      "delete": {
        "summary": "Delete a server-settings item",
        "description": "Delete a server-settings item.",
        "operationId": "delete_v1beta1_server_settings_by_id",
        "tags": [
          "server-settings - v1beta1"
        ],
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "name": "id",
            "in": "path"
          },
          {
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "name": "force",
            "in": "query"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "409": {
            "$ref": "#/components/responses/409-conflictResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      },
      "patch": {
        "summary": "Patch a server-settings item",
        "description": "Partially update a server-settings item.",
        "operationId": "patch_v1beta1_server_settings_by_id",
        "tags": [
          "server-settings - v1beta1"
        ],
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "name": "id",
            "in": "path"
          },
          {
            "$ref": "#/components/parameters/contentTypeHeaderPatch"
          }
        ],
        "requestBody": {
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/serverSettingsUpdateRequest-v1beta1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serverSettingsResponse-v1beta1"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "415": {
            "$ref": "#/components/responses/415-unsupportedMediaTypeResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta2/servers": {
      "get": {
        "summary": "List all servers",
        "description": "Retrieve data for all Servers",
        "operationId": "get_v1beta2_servers",
        "tags": [
          "servers - v1beta2"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/servers-limitParam"
          },
          {
            "$ref": "#/components/parameters/servers-filterParam-v1beta2"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serverCollection-v1beta2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      },
      "patch": {
        "summary": "Patch multiple servers",
        "description": "Update multiple server(s) specified by the `id`(s). The operation is atomic (either fully successful or failing without modifying any servers).",
        "operationId": "patch_v1beta2_servers_by_ids",
        "tags": [
          "servers - v1beta2"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "productId+serialNumber (percent-encoded)"
              }
            },
            "style": "form",
            "explode": true,
            "examples": {
              "oneId": {
                "summary": "Example with a single server id",
                "value": [
                  "177751-Y66%2B8899177751666258"
                ]
              },
              "multipleIds": {
                "summary": "Example with multiple server ids",
                "value": [
                  "177751-Y66%2B8899177751666258",
                  "320888-H80%2B8899320888180208"
                ]
              }
            }
          },
          {
            "$ref": "#/components/parameters/contentTypeHeaderPatch"
          }
        ],
        "requestBody": {
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/serverUpdateRequest-v1beta2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "415": {
            "$ref": "#/components/responses/415-unsupportedMediaTypeResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta2/servers/{id}": {
      "get": {
        "summary": "Get a server",
        "description": "Retrieve data for a Server specified by its `id`",
        "operationId": "get_v1beta2_server_by_id",
        "tags": [
          "servers - v1beta2"
        ],
        "responses": {
          "200": {
            "description": "Server Data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server-v1beta2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "Unique Server identifier",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "patch": {
        "summary": "Patch a server",
        "description": "Partially update a Server specified by its `id`",
        "operationId": "patch_v1beta2_server_by_id",
        "tags": [
          "servers - v1beta2"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique Server identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/contentTypeHeaderPatch"
          }
        ],
        "requestBody": {
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/serverUpdateRequest-v1beta2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server-v1beta2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/403-forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/404-notFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/406-notAcceptableResponse"
          },
          "415": {
            "$ref": "#/components/responses/415-unsupportedMediaTypeResponse"
          },
          "500": {
            "$ref": "#/components/responses/500-internalServerErrorResponse"
          }
        }
      }
    },
    "/compute-ops/v1beta2/servers/{id}/alerts": {
      "get": {
        "summary": "List all alerts for a server",
        "description": "Retrieve alert data for a Server specified by the id of the server",
        "operationId": "get_v1beta2_server_alerts",
        "tags": [
          "servers - v1beta2"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique Server identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "$ref": "#/components/parameters/servers-filterParam-v1beta2"
          }
        ],
        "responses": {
          "200": {
            "description": "Server's Alert Data",
            "content": {
              "application/json": {
[...]
