[package]
name = "integration-tests"
version = "0.1.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
async-graphql.workspace = true
async-sse.workspace = true
async-trait.workspace = true
async-tungstenite.workspace = true
axum.workspace = true
bytes.workspace = true
cfg-if.workspace = true
crossbeam = { workspace = true, features = ["crossbeam-channel"] }
crossbeam-queue.workspace = true
ctor.workspace = true
cynic.workspace = true
cynic-introspection.workspace = true
engine.workspace = true
engine-auth.workspace = true
engine-schema.workspace = true
event-queue.workspace = true
extension-catalog.workspace = true
federated-server.workspace = true
futures.workspace = true
futures-util.workspace = true
gateway-config.workspace = true
grafbase-telemetry.workspace = true
grafbase-workspace-hack.workspace = true
graphql-composition = { workspace = true, features = ["grafbase-extensions"] }
graphql-mocks.workspace = true
graphql-ws-client.workspace = true
headers.workspace = true
http.workspace = true
http-body-util.workspace = true
httpsig.workspace = true
indoc.workspace = true
insta.workspace = true
itertools.workspace = true
minicbor-serde.workspace = true
multipart-stream.workspace = true
openidconnect.workspace = true
ory-client.workspace = true # overridden by patch, pointing to their last release on GitHub
reqwest.workspace = true
rmcp.workspace = true
runtime = { workspace = true, features = ["test-utils"] }
runtime-local = { workspace = true, features = ["wasi", "redis"] }
rustls = { workspace = true, features = ["aws-lc-rs"] }
semver.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_urlencoded.workspace = true
serde_with = { workspace = true, features = ["hex"] }
sse-stream.workspace = true
tempfile.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["full"] }
toml.workspace = true
tower.workspace = true
tracing.workspace = true
tracing-subscriber = { workspace = true, default-features = false, features = [
    "fmt",
    "tracing-log",
    "env-filter",
    "ansi",
] }
ulid.workspace = true
url.workspace = true
wasi-component-loader.workspace = true
zstd.workspace = true

[dev-dependencies]
base64.workspace = true
criterion = { workspace = true, features = ["async_tokio"] }
cynic-parser.workspace = true
ed25519-compact.workspace = true
elliptic-curve.workspace = true
headers.workspace = true
hex.workspace = true
mimalloc.workspace = true
pretty_assertions.workspace = true
rand = "0.8"
rstest.workspace = true
sha2.workspace = true
similar-asserts = { workspace = true, features = ["serde"] }

[target.'cfg(unix)'.dependencies]
pprof = { workspace = true, features = ["criterion", "flamegraph"] }

[[bench]]
name = "bench"
harness = false
