[workspace]
members = ["crates/*"]

resolver = "2"

[workspace.package]
version = "0.36.0-rc.3"
edition = "2021"
license = "Apache-2.0"
homepage = "https://grafbase.com"
keywords = ["grafbase"]
repository = "https://github.com/grafbase/grafbase"

[profile.release]
strip = "symbols"
lto = false
