[package]
name = "federated-server"
edition.workspace = true
license = "MPL-2.0"
homepage.workspace = true
keywords.workspace = true
repository.workspace = true

[lints]
workspace = true

[features]
default = []
lambda = ["dep:axum-aws-lambda", "dep:tower", "dep:lambda_http"]

[dependencies]
ascii = { version = "1.1.0", features = ["serde"] }
async-trait = "0.1.80"
axum = { workspace = true, features = ["macros", "ws", "query", "json"] }
axum-server = { version = "0.7.0", features = ["tls-rustls"] }
blake3.workspace = true
cfg-if = "1"
engine-config-builder.workspace = true
engine.workspace = true
engine-axum.workspace = true
futures-lite.workspace = true
grafbase-telemetry = { workspace = true, features = ["otlp"] }
grafbase-workspace-hack.workspace = true
graph-ref.workspace = true
gateway-config.workspace = true
graphql-composition.workspace = true
http.workspace = true
rand.workspace = true
reqwest = { workspace = true, features = ["http2", "json", "rustls-tls"] }
rolling-logger.workspace = true
runtime.workspace = true
runtime-local = { workspace = true, features = ["wasi", "redis"] }
runtime-noop.workspace = true
serde.workspace = true
thiserror.workspace = true
toml.workspace = true
tokio = { workspace = true, features = ["signal", "time", "net"] }
tokio-stream = { version = "0.1.16", features = ["sync"] }
tower-http = { workspace = true, features = ["cors", "timeout"] }
tracing.workspace = true
ulid = { workspace = true, features = ["serde"] }
url = { workspace = true, features = ["serde"] }
notify = "7.0.0"

# Lambda dependencies
axum-aws-lambda = { version = "0.9.0", optional = true }
tower = { workspace = true, optional = true }
lambda_http = { version = "0.13.0", optional = true }
