[package]
name = "grafbase-gateway"
version = "0.2.0"
edition.workspace = true
license = "MPL-2.0"
homepage.workspace = true
keywords.workspace = true
repository.workspace = true

[features]
lambda = [
  "federated-server/lambda",
  "tracing-subscriber/json",
  "grafbase-tracing/lambda",
  "dep:opentelemetry-aws"
]

[dependencies]
anyhow = { version = "1.0.81", default-features = false }
ascii = { version = "1.1.0", default-features = false }
atty = "0.2.14"
clap = { version = "4", features = ["cargo", "wrap_help", "derive", "env"] }
federated-server.workspace = true
grafbase-tracing = { workspace = true, features = ["otlp"] }
graph-ref.workspace = true
mimalloc = "0.1.39"
opentelemetry-aws = { version = "0.10.0", optional = true }
rustls = { workspace = true, features = ["ring"] }
tokio = { workspace = true, features = ["rt-multi-thread"] }
toml = "0.8.12"
tracing.workspace = true
tracing-subscriber = { workspace = true, features = ["json"] }
cfg-if = "1.0.0"

[lints]
workspace = true

[dev-dependencies]
clickhouse = "0.11"
ctor.workspace = true
duct = "0.13.7"
fslock = "0.2.1"
futures-util.workspace = true
grafbase-graphql-introspection.workspace = true
http.workspace = true
indoc = "2.0.5"
insta = { workspace = true, features = ["json", "redactions", "yaml"] }
rand = "0.8"
reqwest.workspace = true
serde.workspace = true
serde_with.workspace = true
serde_json.workspace = true
tempfile = "3.10.1"
wiremock.workspace = true
