[package]
name = "grafbase-gateway"
version = "0.15.0"
edition.workspace = true
license = "MPL-2.0"
homepage.workspace = true
keywords.workspace = true
repository.workspace = true

[features]
lambda = [
    "federated-server/lambda",
    "tracing-subscriber/json",
    "grafbase-telemetry/lambda",
]

[dependencies]
anyhow = { version = "1", default-features = false }
ascii = { version = "1", default-features = false }
atty = "0.2"
chrono.workspace = true
clap = { version = "4.5", features = ["cargo", "wrap_help", "derive", "env"] }
federated-server.workspace = true
gateway-config.workspace = true
grafbase-telemetry = { workspace = true, features = ["otlp"] }
graph-ref.workspace = true
itertools.workspace = true
mimalloc = "0.1"
opentelemetry-aws = { version = "0.10.0" }
rustls = { workspace = true, features = ["ring"] }
tokio = { workspace = true, features = ["full", "tracing"] }
toml = "0.8"
tracing.workspace = true
tracing-subscriber = { workspace = true, features = ["json"] }
cfg-if = "1"
grafbase-workspace-hack.workspace = true
console-subscriber = "0.4.0"

[lints]
workspace = true

[dev-dependencies]
async-graphql-parser.workspace = true
clickhouse = { version = "0.12" }
ctor.workspace = true
duct = "0.13.7"
fslock = "0.2.1"
futures-util.workspace = true
graphql-composition.workspace = true
grafbase-graphql-introspection.workspace = true
graphql-mocks.workspace = true
http.workspace = true
indoc = "2.0.5"
insta = { workspace = true, features = ["json", "redactions", "yaml"] }
rand.workspace = true
reqwest.workspace = true
serde.workspace = true
serde_with.workspace = true
serde_json.workspace = true
tempfile = "3.10.1"
wiremock.workspace = true
ulid.workspace = true
handlebars.workspace = true
