[package]
name = "grafbase-gateway"
version = "0.1.0-rc.8"
edition.workspace = true
license.workspace = true
homepage.workspace = true
keywords.workspace = true
repository.workspace = true

[features]
lambda = ["federated-server/lambda"]

[dependencies]
anyhow = "1.0.81"
ascii = "1.1.0"
clap = { version = "4", features = ["cargo", "wrap_help", "derive", "env"] }
federated-server.workspace = true
grafbase-tracing = { workspace = true, features = ["otlp"] }
graph-ref.workspace = true
rustls = { workspace = true, features = ["ring"] }
tracing-subscriber.workspace = true

[lints]
workspace = true

[dev-dependencies]
ctor.workspace = true
duct = "0.13.7"
fslock = "0.2.1"
futures-util.workspace = true
grafbase-graphql-introspection.workspace = true
http.workspace = true
indoc = "2.0.4"
insta = { workspace = true, features = ["json", "redactions", "yaml"] }
reqwest.workspace = true
serde_json.workspace = true
serde.workspace = true
tempfile = "3.10.1"
tokio.workspace = true
wiremock.workspace = true
