[package]
name = "graphql-federated-graph"
version = "0.3.0"
edition = "2021"
license = "Apache-2.0"
description = "A serializable federated GraphQL graph representation"
repository = "https://github.com/grafbase/grafbase/tree/main/engine/crates/federated-graph"
keywords = ["graphql", "federation"]

[lints]
workspace = true

[dependencies]
wrapping = { path = "../wrapping" }
serde = { version = "1", features = ["derive"] }
indoc = "2"

async-graphql-parser = { workspace = true, optional = true }
async-graphql-value = { workspace = true, optional = true }
indexmap = { optional = true, version = "2" }

[dev-dependencies]
expect-test = "1.4"
serde_json.workspace = true

[features]
default = ["render_sdl", "from_sdl"]
render_sdl = []
from_sdl = ["async-graphql-parser", "async-graphql-value", "indexmap"]
