[package]
name = "graphql-federated-graph"
version = "0.4.0"
edition = "2021"
license = "Apache-2.0"
description = "A serializable federated GraphQL graph representation"
repository = "https://github.com/grafbase/grafbase/tree/main/engine/crates/federated-graph"
keywords = ["graphql", "federation"]

[lints]
workspace = true

[dependencies]
wrapping = { path = "../wrapping", package = "graphql-wrapping-types", version = "0.1.0" }
serde = { version = "1.0.199", features = ["derive"] }
serde_json = "1.0.116"
indoc = "2.0.5"

cynic-parser = { workspace = true, optional = true }
indexmap = { optional = true, version = "2.2.6" }
grafbase-workspace-hack.workspace = true

[dev-dependencies]
expect-test = "1.5"
serde_json.workspace = true

[features]
default = ["render_sdl", "from_sdl"]
render_sdl = []
from_sdl = ["dep:cynic-parser", "dep:indexmap"]
