[package]
name = "grafbase-local-backend"
description = "The local backend for grafbase developer tools"
readme = "README.md"
version.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
keywords.workspace = true
repository.workspace = true

[dependencies]
axum.workspace = true
async-compression = { version = "0.4", features = ["gzip", "tokio"] }
chrono = "0.4"
const_format = { version = "0.2", features = ["rust_1_64"] }
cynic = { version = "3", features = ["http-reqwest"] }
dirs = "5"
http-cache-reqwest = "0.12"
reqwest = { version = "0.11", features = [
    "rustls-tls",
    "stream",
    "json",
], default-features = false }
reqwest-middleware = "0.2"
serde = "1"
serde_json = "1"
tar = "0.4"
tempfile = "3.9"
thiserror = "1"
tokio = { version = "1", features = ["full"] }
tokio-stream = { version = "0.1", features = ["tokio-util"] }
tokio-util = { version = "0.7", features = ["futures-io", "compat"] }
tower-http = { workspace = true, features = ["trace"] }
ulid = "1"
url = "2"
urlencoding = "2"
walkdir = "2"

common = { package = "grafbase-local-common", path = "../common", version = "0.52.2" }
server = { package = "grafbase-local-server", path = "../server", version = "0.52.2" }

[build-dependencies]
cynic-codegen = { version = "3", features = ["rkyv"] }

[features]
dynamodb = ["server/dynamodb"]

[lints]
workspace = true
