[package]
name = "grafbase-local-backend"
description = "The local backend for grafbase developer tools"
version.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
keywords.workspace = true
readme.workspace = true
repository.workspace = true

[dependencies]
axum = "0.6"
async-compression = { version = "0.3", features = ["gzip", "tokio"] }
async-tar = "0.4"
const_format = { version = "0.2", features = ["rust_1_64"] }
cynic = { version = "3", features = ["http-reqwest"] }
dirs = "5"
exitcode = "1"
http-cache-reqwest = "0.7"
reqwest = { version = "0.11", features = [
    "rustls-tls",
    "stream",
    "json",
], default-features = false }
reqwest-middleware = "0.2"
serde = "1"
serde_json = "1"
tempfile = "3.4"
thiserror = "1"
tokio = { version = "1", features = ["full"] }
tokio-stream = { version = "0.1", features = ["tokio-util"] }
tokio-util = { version = "0.7", features = ["futures-io", "compat"] }
tower-http = { version = "0.4", features = ["trace"] }
url = "2"
urlencoding = "2"
webbrowser = "0.8"

common = { package = "grafbase-local-common", path = "../common", version = "0.22.0" }
server = { package = "grafbase-local-server", path = "../server", version = "0.22.0" }

[build-dependencies]
cynic-codegen = { version = "3", features = ["rkyv"] }

[features]
dynamodb = ["server/dynamodb"]
