[package]
name = "grafbase-local-backend"
description = "The local backend for grafbase developer tools"
readme = "README.md"
version.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
keywords.workspace = true
repository.workspace = true

[dependencies]
axum.workspace = true
chrono = "0.4.38"
cynic = { workspace = true, features = ["http-reqwest"] }
ignore = "0.4.22"
reqwest = { workspace = true, features = [
    "rustls-tls",
    "stream",
    "json",
], default-features = false }
reqwest-middleware = "0.3"
serde = "1.0.199"
serde_json = "1.0.116"
serde-toml-merge = "0.3.8"
thiserror = "1.0.59"
tokio = { version = "1.37.0", features = ["full"] }
toml.workspace = true
tower-http = { workspace = true, features = ["trace"] }
url = "2.5.0"
urlencoding = "2.1.3"

common = { package = "grafbase-local-common", path = "../common", version = "0.80.1" }
grafbase-workspace-hack.workspace = true
grafbase-graphql-introspection.workspace = true
gateway-config = { workspace = true, features = ["dev"] }
federated-server.workspace = true
graphql-composition.workspace = true
federated-graph.workspace = true
serde-dynamic-string.workspace = true
futures.workspace = true


[build-dependencies]
cynic-codegen = { version = "=3.7.3", features = ["rkyv"] }

[features]
default = []

[lints]
workspace = true
