[package]
authors = ["Grafbase"]
description = "The engine schema graph"
edition = "2024"
homepage = "https://grafbase.com"
keywords = ["graphql", "engine", "grafbase"]
license = "MPL-2.0"
name = "engine-schema"
repository = "https://github.com/grafbase/grafbase"
build = "build.rs"

[build-dependencies]
anyhow.workspace = true
rand.workspace = true

[dependencies]
bitflags = { workspace = true, features = ["serde"] }
blake3.workspace = true
cynic-parser.workspace = true
cynic-parser-deser.workspace = true
extension-catalog.workspace = true
field-selection-map = { path = "../field-selection-map", package = "engine-field-selection-map" }
fxhash.workspace = true
gateway-config.workspace = true
grafbase-workspace-hack.workspace = true
hex.workspace = true
http.workspace = true
id-derives = { path = "../id-derives", package = "engine-id-derives" }
id-newtypes = { path = "../id-newtypes", package = "engine-id-newtypes" }
indexmap.workspace = true
itertools.workspace = true
ramhorns.workspace = true
rapidhash.workspace = true
regex.workspace = true
semver.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_regex.workspace = true
serde_with.workspace = true
strum = { workspace = true, features = ["derive"] }
strum_macros.workspace = true
thiserror.workspace = true
tracing.workspace = true
url.workspace = true
walker = { path = "../walker", package = "engine-walker" }
wrapping.workspace = true

[dev-dependencies]
insta.workspace = true
postcard.workspace = true
rstest.workspace = true
serde_path_to_error.workspace = true
tokio.workspace = true
toml.workspace = true
