[package]
name = "grafbase-local-server"
description = "A wrapper for the grafbase worker"
include = ["/src", "/assets/assets.tar.gz"]
readme = "README.md"
version.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
keywords.workspace = true
repository.workspace = true

[dependencies]
async-trait = "0.1"
axum = { workspace = true }
base64 = "0.21"
chrono = { version = "0.4", features = ["serde"] }
combine = "4"
dotenv = "0.15"
flate2 = "1.0"
fslock = "0.2"
futures-util = { workspace = true }
handlebars = "4"
hyper = { version = "0.14", features = ["tcp"] }
integer-encoding = "4"
itertools = "0.11"
log = "0.4"
notify = { version = "6", default-features = false, features = [
  "macos_fsevent",
] }
notify-debouncer-mini = { version = "0.3", default-features = false }
path-slash = "0.2"
reqwest = { version = "0.11", features = [
  "rustls-tls",
  "json",
], default-features = false }
serde = { version = "1", features = ["serde_derive"] }
serde_json = "1"
serde_with = "3"
slug = "0.1"
sqlx = { version = "0.7", features = [
  "runtime-tokio-rustls",
  "sqlite",
  "json",
] }
strip-ansi-escapes = "0.1"
strum = { version = "0.25", features = ["derive"] }
tantivy = { version = "0.19", default-features = false, features = ["mmap"] }
# Temporary change till https://github.com/alexcrichton/tar-rs/pull/319 is release
tar = { git = "https://github.com/obmarg/tar-rs.git", rev = "bffee32190d531c03d806680daebd89cb1544be1" }
tempfile = "3"
thiserror = "1"
tokio = { workspace = true, features = ["full"] }
tokio-stream = { version = "0.1", features = ["io-util"] }
tower-http = { version = "0.4", features = ["cors", "fs", "trace"] }
tracing = "0.1"
unicode-normalization = "0.1"
ulid = "1"
version-compare = "0.1"
which = "4"
cfg-if = "1"

# Same version as Tantivy
tantivy-fst = "0.4.0"

common = { package = "grafbase-local-common", path = "../common", version = "0.37.0" }
gateway = { path = "../gateway" }
engine = { path = "../../../engine/crates/engine" }
runtime = { path = "../../../engine/crates/runtime" }
parser-sdl = { path = "../../../engine/crates/parser-sdl", features = [
  "local",
] }
parser-openapi = { path = "../../../engine/crates/parser-openapi" }
parser-graphql = { path = "../../../engine/crates/parser-graphql" }
parser-postgres = { path = "../../../engine/crates/parser-postgres" }
postgres-types = { path = "../../../engine/crates/postgres-types" }
common-types = { path = "../../../engine/crates/common-types" }

[dev-dependencies]
serde_json = "1"

[features]
dynamodb = ["gateway/dynamodb"]
