[package]
name = "grafbase-local-server"
version = "0.16.0"
edition = "2021"
description = "A wrapper for the grafbase worker"
license = "Apache-2.0"
homepage = "https://grafbase.com"
keywords = ["grafbase"]
readme = "README.md"
repository = "https://github.com/grafbase/grafbase"
include = ["/src", "/assets"]

[dependencies]
axum = "0.6"
dotenv = "0.15"
exitcode = "1"
futures-util = "0.3"
hyper = "0.14"
log = "0.4"
notify = "4"
reqwest = { version = "0.11", features = [
  "rustls-tls",
  "json",
], default-features = false }
rust-embed = { version = "6", features = ["compression"] }
serde = { version = "1", features = ["serde_derive"] }
serde_json = "1"
serde_v8 = "0.82"
sqlx = { version = "0.6", features = [
  "runtime-tokio-rustls",
  "sqlite",
  "json",
] }
thiserror = "1"
tokio = { version = "1", features = ["full"] }
tower-http = { version = "0.3", features = ["trace"] }
tracing = "0.1"
uuid = { version = "1", features = ["v4"] }
version-compare = "0.1"
v8 = "0.60"
which = "4"

common = { package = "grafbase-local-common", path = "../common", version = "0.16.0" }

[dev-dependencies]
serde_json = "1"
