[package]
name = "grafbase-local-server"
version = "0.17.0"
edition = "2021"
description = "A wrapper for the grafbase worker"
license = "Apache-2.0"
homepage = "https://grafbase.com"
keywords = ["grafbase"]
readme = "README.md"
repository = "https://github.com/grafbase/grafbase"
include = ["/src", "/assets"]

[dependencies]
axum = "0.6"
dotenv = "0.15"
exitcode = "1"
hyper = "0.14"
log = "0.4"
notify = "4"
reqwest = { version = "0.11", features = [
  "rustls-tls",
  "json",
], default-features = false }
rust-embed = { version = "6", features = ["compression"] }
serde = { version = "1", features = ["serde_derive"] }
serde_json = "1"
sqlx = { version = "0.6", features = [
  "runtime-tokio-rustls",
  "sqlite",
  "json",
] }
tempfile = "3"
thiserror = "1"
tokio = { version = "1", features = ["full"] }
tower-http = { version = "0.4", features = ["trace"] }
tracing = "0.1"
uuid = { version = "1", features = ["v4"] }
version-compare = "0.1"
which = "4"
regex = "1"

common = { package = "grafbase-local-common", path = "../common", version = "0.17.0" }
tantivy = "0.19"
futures-util = "0.3"
chrono = { version = "0.4", features = ["serde"] }
ipnet = "2"
once_cell = "1"
combine = "4"
anyhow = "1"
base64 = "0.21"
integer-encoding = "3"
unicode-normalization = "0.1"

[dev-dependencies]
serde_json = "1"
