[package]
name = "grafbase-local-server"
description = "A wrapper for the grafbase worker"
include = ["/src", "/assets/assets.tar.gz"]
readme = "README.md"
version.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
keywords.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
async-trait = "0.1"
async-tungstenite = { version = "0.24", features = ["tokio"] }
axum.workspace = true
dotenv = "0.15"
flate2 = "1.0"
fslock = "0.2"
futures-util.workspace = true
handlebars.workspace = true
hyper.workspace = true
hyper-util = { workspace = true, features = ["client", "client-legacy", "http1"] }
itertools.workspace = true
log = "0.4"
notify = { version = "6", default-features = false, features = [
  "macos_fsevent",
] }
notify-debouncer-mini = { version = "0.4", default-features = false }
path-slash = "0.2"
reqwest = { workspace = true, features = [
  "rustls-tls",
  "json",
], default-features = false }
serde = { version = "1", features = ["serde_derive"] }
serde_json = "1"
serde_with.workspace = true
slug = "0.1"
strip-ansi-escapes = "0.2"
strum = { version = "0.26", features = ["derive"] }
tar.workspace = true
tempfile = "3"
thiserror = "1"
tokio = { workspace = true, features = ["full"] }
tokio-stream = { version = "0.1", features = ["sync", "io-util"] }
tower-http = { workspace = true, features = ["cors", "fs", "trace"] }
tracing = "0.1"
version-compare = "0.1"
which.workspace = true

common = { package = "grafbase-local-common", path = "../common", version = "0.54.1" }
gateway = { path = "../gateway" }
typed-resolvers = { path = "../typed-resolvers" }
federated-dev = { path = "../federated-dev" }
engine = { path = "../../../engine/crates/engine" }
parser-sdl = { path = "../../../engine/crates/parser-sdl", features = [
  "local",
] }
graphql-federated-graph = { path = "../../../engine/crates/federated-graph", features = ["from_sdl"] }
parser-openapi = { path = "../../../engine/crates/parser-openapi" }
parser-graphql = { path = "../../../engine/crates/parser-graphql" }
parser-postgres = { path = "../../../engine/crates/parser-postgres" }
postgres-connector-types = { path = "../../../engine/crates/postgres-connector-types" }
common-types = { path = "../../../engine/crates/common-types" }
uuid.workspace = true

[dev-dependencies]
serde_json = "1"

[build-dependencies]
flate2 = { version = "1", features = ["zlib"] }
tar.workspace = true
tempfile = "3"
