[package]
name = "graphql-wrapping-types"
description = "Compact representation for GraphQL list and required wrapping types"
version = "0.2.0"
edition.workspace = true
license.workspace = true
homepage.workspace = true
keywords.workspace = true
repository.workspace = true

[dependencies]
grafbase-workspace-hack.workspace = true
serde.workspace = true

[lints]
workspace = true
