[package]
name = "runtime-local"
authors = ["Grafbase"]
description = "An implementation of the Grafbase runtime for local use"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"
homepage = "https://grafbase.com"
repository = "https://github.com/grafbase/grafbase"
keywords = ["local", "runtime", "grafbase"]

[lints]
workspace = true

[dependencies]
async-runtime.workspace = true
async-trait = "0.1"
async-tungstenite = { version = "0.25.0", features = ["tokio-runtime", "tokio-rustls-webpki-roots"] }
futures-util.workspace = true
graphql-ws-client = { version = "0.8.0-rc.2", features = ["async-tungstenite"] }
ulid.workspace = true
serde.workspace = true
serde_json.workspace  = true
runtime.workspace = true
log = { workspace = true, features = ["with-worker"] }
postgres-connector-types = { path = "../postgres-connector-types" }
reqwest = { workspace = true, features = [
  "json",
  "rustls-tls",
] }
tokio.workspace = true

[dev-dependencies]
tokio = { workspace = true, features = ["macros"] }
