[package]
name = "runtime-local"
authors = ["Grafbase"]
description = "An implementation of the Grafbase runtime for local use"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"
homepage = "https://grafbase.com"
repository = "https://github.com/grafbase/grafbase"
keywords = ["local", "runtime", "grafbase"]

[lints]
workspace = true

[features]
wasi = ["wasi-component-loader", "url", "dep:deadpool"]
redis = ["dep:redis", "dep:deadpool"]

[dependencies]
async-runtime.workspace = true
async-trait = "0.1.80"
async-tungstenite = { version = "0.28.0", features = ["tokio-runtime", "tokio-rustls-webpki-roots"] }
bytes.workspace = true
futures-util.workspace = true
graphql-ws-client = { version = "0.10.0", features = ["tungstenite"] }
governor.workspace = true
http.workspace = true
ulid.workspace = true
reqwest-eventsource = "0.6"
serde.workspace = true
serde_json = { workspace  = true, features = ["raw_value"] }
tracing.workspace = true
tungstenite = { workspace = true, features = ["url"] }
tokio = { workspace = true, features = ["macros", "sync"] }
registry-v2.workspace = true
runtime.workspace = true
gateway-config.workspace = true
url = { workspace = true, optional = true }
postgres-connector-types = { path = "../postgres-connector-types" }
mini-moka = "0.10"
redis = { version = "0.27.0", features = ["tokio-rustls-comp", "connection-manager"], optional = true }

reqwest = { workspace = true, features = [
  "json",
  "rustls-tls",
] }

wasi-component-loader = { version = "0.79.2", path = "../wasi-component-loader", optional = true }
deadpool = { version = "0.12.1", features = ["rt_tokio_1"] , optional = true }
grafbase-telemetry.workspace = true
anyhow.workspace = true
grafbase-workspace-hack.workspace = true
