use grafbase_sdk::{
    types::{Configuration, SchemaDirective, ErrorResponse, Token, GatewayHeaders, Error},
    AuthenticationExtension,
};

#[derive(AuthenticationExtension)]
struct {{name}};

impl AuthenticationExtension for {{name}} {
    fn new(config: Configuration) -> Result<Self, Error>
    {
        todo!()
    }

    fn authenticate(&mut self, headers: &GatewayHeaders) -> Result<Token, ErrorResponse> {
        todo!()
    }
}
