use grafbase_sdk::{
    types::{Configuration, SchemaDirective, ErrorResponse, Token},
    AuthenticationExtension, Headers, Error
};

#[derive(AuthenticationExtension)]
struct {{name}};

impl AuthenticationExtension for {{name}} {
    fn new(config: Configuration) -> Result<Self, Error>
    {
        todo!()
    }

    fn authenticate(&mut self, headers: Headers) -> Result<Token, ErrorResponse> {
        todo!()
    }
}
