use grafbase_sdk::{
    AuthenticationExtension,
    types::{Configuration, Error, ErrorResponse, GatewayHeaders, Token},
};

#[derive(AuthenticationExtension)]
struct {{name}};

impl AuthenticationExtension for {{name}} {
    fn new(config: Configuration) -> Result<Self, Error> {
        Ok(Self)
    }

    fn authenticate(&mut self, headers: &GatewayHeaders) -> Result<Token, ErrorResponse> {
        Err(ErrorResponse::unauthorized())
    }
}
