[package]
name = "graphql-composition"
version = "0.4.0"
edition = "2021"
license = "MPL-2.0"
description = "An implementation of GraphQL federated schema composition"
repository = "https://github.com/grafbase/grafbase/tree/main/engine/crates/composition"
keywords = ["graphql", "federation"]

[lints]
workspace = true

[dependencies]
cynic-parser.workspace = true
cynic-parser-deser.workspace = true
grafbase-workspace-hack.workspace = true
graphql-federated-graph = { path = "../graphql-federated-graph", version = "0.4.0" }
indexmap.workspace = true
itertools.workspace = true

[dev-dependencies]
datatest-stable.workspace = true
similar = "2.5.0"
thiserror.workspace = true
miette = { workspace = true, features = ["fancy"] }

[[test]]
name = "composition_tests"
harness = false
