[package]
name = "graphql-composition"
version = "0.6.2"
edition = "2024"
license = "MPL-2.0"
description = "An implementation of GraphQL federated schema composition"
repository = "https://github.com/grafbase/grafbase/tree/main/engine/crates/composition"
keywords = ["graphql", "federation"]

[features]
default = ["grafbase-extensions"]
grafbase-extensions = []

[lints]
workspace = true

[dependencies]
cynic-parser = { workspace = true, features = ["report"] }
cynic-parser-deser.workspace = true
fixedbitset.workspace = true
graphql-federated-graph = { path = "../graphql-federated-graph" }
indexmap.workspace = true
itertools.workspace = true
url.workspace = true

[dev-dependencies]
anyhow.workspace = true
grafbase-workspace-hack.workspace = true
insta.workspace = true
pretty_assertions.workspace = true
serde.workspace = true
toml.workspace = true
