[extension]
name = "nats"
version = "0.3.2"
kind = "resolver"
description = "Map NATS endpoints to GraphQL fields. Supports regular and JetStream subscriptions, as well as request/reply messaging and the key/value store."
# homepage_url = "https://example.com/my-extension"
# repository_url = "https://github.com/my-username/my-extension"
# license = "MIT"

[directives]
definitions = "definitions.graphql"
field_resolvers = ["natsPublish", "natsSubscription", "natsRequest", "natsKeyValue"]

[permissions]
network = true
