[package]
name = "wasi-component-loader"
edition.workspace = true
license.workspace = true
homepage.workspace = true
keywords.workspace = true
repository.workspace = true

[dependencies]
anyhow.workspace = true
http.workspace = true
thiserror.workspace = true
tracing.workspace = true
url.workspace = true
gateway-config.workspace = true
crossbeam = { version = "0.8.4", features = ["crossbeam-channel"] }
tokio = { workspace = true, features = ["time", "rt"] }
grafbase-telemetry.workspace = true
grafbase-workspace-hack.workspace = true
reqwest.workspace = true
futures.workspace = true
strum = { workspace = true, features = ["derive"] }
enumflags2 = "0.7.10"

[dependencies.wasmtime]
version = "28"

[dependencies.wasmtime-wasi]
version = "29"
default-features = false

[dependencies.wasmtime-wasi-http]
version = "28"

[lints]
workspace = true

[dev-dependencies]
expect-test = "1.5.0"
indoc.workspace = true
serde_json.workspace = true
base64.workspace = true
insta.workspace = true
tempfile = "3.14.0"
tokio = { workspace = true, features = ["rt-multi-thread", "macros"] }
toml.workspace = true
wiremock.workspace = true
