[package]
name = "federated-server"
version = "0.10.0"
edition.workspace = true
license = "MPL-2.0"
homepage.workspace = true
keywords.workspace = true
repository.workspace = true

[lints]
workspace = true

[features]
default = []
lambda = [
  "dep:axum-aws-lambda",
  "dep:tower",
  "dep:lambda_http",
  "grafbase-telemetry/lambda"
]

[dependencies]
ascii = { version = "1.1.0", features = ["serde"] }
async-trait = "0.1.80"
axum = { workspace = true, features = ["macros", "ws", "query", "json"] }
axum-server = { version = "0.6.0", features = ["tls-rustls"] }
blake3.workspace = true
engine-config-builder.workspace = true
engine-v2.workspace = true
engine-v2-axum.workspace = true
grafbase-telemetry = { workspace = true, features = ["tower", "otlp"] }
gateway-config.workspace = true
graphql-composition.workspace = true
http.workspace = true
reqwest = { workspace = true, features = ["http2", "json", "rustls-tls"] }
runtime.workspace = true
runtime-local = { workspace = true, features = ["wasi", "redis"] }
runtime-noop.workspace = true
serde.workspace = true
thiserror.workspace = true
toml.workspace = true
tokio = { workspace = true, features = ["signal", "time", "net"] }
tower-http = { version = "0.5.2", features = ["cors", "timeout"] }
tracing.workspace = true
ulid = { workspace = true, features = ["serde"] }
url = { workspace = true, features = ["serde"] }
notify = "6.1.1"
crossbeam = { version = "0.8.4", features = ["crossbeam-channel"] }

# Lambda dependencies
axum-aws-lambda = { version = "0.7.0", optional = true }
tower = { workspace = true, optional = true }
lambda_http = { version = "0.11.1", optional = true }
