[package]
name = "{{name}}"
version = "0.1.0"
edition = "2024"
license = "Apache-2.0"

[lib]
crate-type = ["cdylib"]

[profile.release]
opt-level = "z"
strip = true
lto = true
codegen-units = 1

[dependencies]
grafbase-sdk = "{{sdk_version}}"

[dev-dependencies]
indoc = "2"
insta = { version = "1.42.1", features = ["json"] }
grafbase-sdk = { version = "{{sdk_version}}", features = ["test-utils"] }
tokio = { version = "1", features = ["rt-multi-thread", "macros", "test-util"] }
serde_json = "1"
