[package]
name = "engine-v2"
version = "3.0.31"
authors = ["Grafbase"]
description = "A dynamic GraphQL engine written in Rust"
edition = "2021"
readme = "README.md"
license = "MPL-2.0"
homepage = "https://grafbase.com"
repository = "https://github.com/grafbase/grafbase"
keywords = ["graphql", "engine", "grafbase"]

[lints]
workspace = true

[features]
default = []
plan_cache = ["dep:moka"]

[dependencies]
async-runtime.workspace = true
futures.workspace = true
im = "15"
indexmap.workspace = true
lasso = "0.7"
itertools.workspace = true
serde = { workspace = true, features = ["rc"] }
serde_with.workspace = true
serde_json.workspace = true
serde-value = "0.7"
strum.workspace = true
thiserror.workspace = true
futures-util.workspace = true
hex = "0.4.3"
tracing.workspace = true
fnv.workspace = true
moka = { version = "0.12", optional = true, features = ["sync"] }

config = { package = "engine-v2-config", path = "./config" }
engine-value = { path = "../engine/value" }
engine-parser = { path = "../engine/parser" }
schema = { path = "./schema", package = "engine-v2-schema" }
# needed for errors, not entirely sure if we should be separate or not right now.
# might move it back to engine, the goal isn't to rewrite everything from engine per Se
# but having more explicit dependencies for now.
engine = { path = "../engine" }
runtime.workspace = true

