[package]
authors = ["Grafbase"]
description = "A dynamic GraphQL engine written in Rust"
edition = "2021"
homepage = "https://grafbase.com"
keywords = ["graphql", "engine", "grafbase"]
license = "MPL-2.0"
name = "engine-v2"
readme = "README.md"
repository = "https://github.com/grafbase/grafbase"
version = "3.0.31"

[lib]
doctest = false

[lints]
workspace = true

[dependencies]
async-runtime.workspace = true
base64.workspace = true
blake3.workspace = true
bytes.workspace = true
ulid.workspace = true
url.workspace = true
crossbeam-queue = "0.3.11"
futures-util.workspace = true
futures.workspace = true
grafbase-telemetry.workspace = true
hex.workspace = true
id-newtypes = { path = "./id-newtypes", package = "engine-v2-id-newtypes" }
im = "15.1.0"
itertools.workspace = true
lasso2 = { version = "0.8.2", features = ["serialize"] }
serde = { workspace = true, features = ["rc"] }
serde-value = "0.7"
serde_json = { workspace = true, features = ["raw_value"] }
sha2.workspace = true
strum.workspace = true
thiserror.workspace = true
tower = { workspace = true, features = ["retry"] }
tracing.workspace = true
http.workspace = true
headers.workspace = true
gateway-core = { path = "../gateway-core" }
web-time.workspace = true

gateway-v2-auth = { path = "../gateway-v2/auth" }
operation-normalizer = { path = "../operation-normalizer" }
config = { package = "engine-v2-config", path = "./config" }
engine-parser = { path = "../engine/parser" }
engine-value = { path = "../engine/value" }
schema = { path = "./schema", package = "engine-v2-schema" }
# needed for errors, not entirely sure if we should be separate or not right now.
# might move it back to engine, the goal isn't to rewrite everything from engine per Se
# but having more explicit dependencies for now.
engine = { path = "../engine" }
runtime.workspace = true
rand = "0.8.5"

[dev-dependencies]
pretty_assertions = "1"
