[package]
name = "parser-openapi"
authors = ["Grafbase"]
description = "An OpenAPI schema parser for the Grafbase platform"
version = "0.1.0"
edition = "2021"
homepage = "https://grafbase.com"
repository = "https://github.com/grafbase/grafbase"
keywords = ["openapi", "parser", "grafbase"]

[lints]
workspace = true

[dependencies]
Inflector = "0.11.4"
indexmap = "2.2.6"
itertools.workspace = true
once_cell = "1.19.0"
petgraph = "0.6.4"
regex.workspace = true
serde = "1.0.199"
serde_json = "1.0.116"
serde_yaml = "0.9.34"
strum = { workspace = true, features = ["derive"] }
thiserror.workspace = true
tracing.workspace = true
url.workspace = true

# We use the openapi crate for v2 of OpenAPI - unfortunately it's not been released on
# crates.io for years so we're forking for now at least.
openapi = { git = "https://github.com/grafbase/openapi.git", rev = "f1f45282c17d07881bb76a8ba50d1960fdf3c810" } # main
# We use the openapiv3 for v3 of OpenAPI.  The version on crates.io currently only supports 3.0
# so we're maintaining a fork with 3.1 support for now.  Hopefully at some point
# https://github.com/glademiller/openapiv3/pull/58 is merged and we can go back to mainline
openapiv3 = { git = "https://github.com/grafbase/openapiv3.git", rev = "c019f9fcea8fee036da3738bab643439bf6fa85b" } # openapiv3.1-updated-to-upstream }

engine = { path = "../engine" }
engine-scalars = { path = "../engine/scalars" }
engine-value.workspace = true
parser-sdl = { path = "../parser-sdl" }
registry-v1.workspace = true
registry-v2.workspace = true
grafbase-workspace-hack = { version = "0.1", path = "../../../workspace-hack" }

[dev-dependencies]
assert_matches = "1.5"
graphql-schema-validation.workspace = true
insta.workspace = true
more-asserts = "0.3.1"
rstest = "0.21"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
