[package]
authors = ["Grafbase"]
description = "Engine configuration structs"
edition = "2021"
homepage = "https://grafbase.com"
keywords = ["graphql", "engine", "grafbase"]
license = "MPL-2.0"
name = "engine-config"
repository = "https://github.com/grafbase/grafbase"

[dependencies]
base64.workspace = true
secrecy.workspace = true
http.workspace = true
serde.workspace = true
serde_with.workspace = true
thiserror.workspace = true
url = { workspace = true, features = ["serde"] }
gateway-config.workspace = true

federated-graph.workspace = true
regex.workspace = true
serde_regex = "1.1.0"
grafbase-workspace-hack.workspace = true

[dev-dependencies]
insta.workspace = true
serde_json = "1.0.116"
