[package]
name = "auth-service"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1"
axum = "0.7.5"
tower-http = { version = "0.5", features = ["trace"]}
serde_json = "1.0.120"
serde = { version = "1", features = ["derive"] }
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
tracing = "0.1"
tokio = { version = "1.38.0", features = ["macros", "rt-multi-thread", "signal"] }
