[package]
authors = ["Grafbase"]
description = "The engine schema graph"
edition = "2021"
homepage = "https://grafbase.com"
keywords = ["graphql", "engine", "grafbase"]
license = "MPL-2.0"
name = "engine-v2-schema"
readme = "README.md"
repository = "https://github.com/grafbase/grafbase"
version = "3.0.31"
build = "build.rs"

[build-dependencies]
built = {version = "0.7", features = ["git2", "chrono"]}

[dependencies]
fnv = "1.0.7"
hex.workspace = true
id-derives = { path = "../id-derives", package = "engine-v2-id-derives" }
id-newtypes = { path = "../id-newtypes", package = "engine-v2-id-newtypes" }
indexmap.workspace = true
serde.workspace = true
serde_with.workspace = true
strum = { workspace = true, features = ["derive"] }
strum_macros.workspace = true
thiserror.workspace = true
url.workspace = true

config = { package = "engine-v2-config", path = "../config" }
federated-graph = { package = "graphql-federated-graph", path = "../../federated-graph" }
wrapping.workspace = true
regex.workspace = true
serde_regex = "1.1.0"

[dev-dependencies]
insta.workspace = true
serde_json.workspace = true
postcard.workspace = true
rstest.workspace = true
pretty_assertions = "1"
