[package]
name = "federated-dev"
version.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
keywords.workspace = true
repository.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-graphql = { workspace = true, features = ["url"] }
async-graphql-axum.workspace = true
async-graphql-parser.workspace = true
axum = { workspace = true }
futures-concurrency = "7"
futures-util = "0.3"
graphql-composition.workspace = true
handlebars = "4.5.0"
indoc = "2.0.4"
log = "0.4.20"
reqwest = { version = "0.11.23", default-features = false, features = ["json", "rustls"] }
runtime-local.workspace = true
serde = "1.0.193"
serde_json.workspace = true
thiserror = "1.0.52"
tokio = { workspace = true, features = ["sync", "rt", "io-std", "time"] }
tokio-stream = "0.1"
tower-http = { workspace = true, features = ["cors", "fs", "trace"] }
url = "2.5.0"

common = { package = "grafbase-local-common", path = "../common", version = "0.52.1" }
engine = { path = "../../../engine/crates/engine" }
engine-config-builder = { path = "../../../engine/crates/engine-config-builder" }
engine-v2 = { path = "../../../engine/crates/engine-v2" }
grafbase-graphql-introspection = { path = "../graphql-introspection" }
parser-sdl = { path = "../../../engine/crates/parser-sdl" }

[lints]
workspace = true
