[package]
name = "graphql-lint"
version = "0.1.3"
description = "A GraphQL SDL linter"
keywords = ["graphql", "linter"]
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
cynic-parser.workspace = true
grafbase-workspace-hack.workspace = true
heck.workspace = true
thiserror.workspace = true

[dev-dependencies]
criterion = { workspace = true, features = ["html_reports"] }

[[bench]]
name = "benchmark"
harness = false

[lints]
workspace = true
