{
    "openapi": "3.1.0",
    "info": {
        "title": "API Reference",
        "version": "1.0",
        "description": "Orb's API is built with the following principles in mind:\n\n1. **Predictable developer experience**: Where applicable, the Orb API uses industry-standard patterns such as cursor-based pagination and standardized error output. To help with debugging in critical API actions, the API always strives to provide detailed and actionable error messages. Aliases such as external customer IDs aid in fast integration times.\n2. **Reliably real time**: Orb's event-based APIs, such as event ingestion are designed to handle extremely high throughput and scale with concurrent load. Orb also provides a real-time event-level credits ledger and a highly performant webhooks architecture.\n3. **Flexibility at the forefront**: Features like timezone localization and the ability to amend historical usage show the flexible nature of the platform.",
        "contact": {
            "email": "team@withorb.com",
            "url": "https://www.withorb.com/",
            "name": "Orb, Inc."
        },
        "termsOfService": "https://www.withorb.com/terms",
        "summary": "Orb powers usage-based billing for the fastest-growing software companies."
    },
    "servers": [
        {
            "url": "https://api.withorb.com/v1",
            "description": "Production server"
        }
    ],
    "paths": {
        "/ingest": {
            "post": {
                "summary": "Ingest events",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "type": "object",
                                    "x-examples": {
                                        "example-1": {
                                            "duplicate": [],
                                            "ingested": [],
                                            "validation_failed": [
                                                {
                                                    "idempotency_key": "materialize-sample-event-90",
                                                    "validation_errors": [
                                                        "{'a': 'us-east-1'} is not of type 'number', 'string', 'boolean'"
                                                    ]
                                                }
                                            ]
                                        }
                                    },
                                    "properties": {
                                        "debug": {
                                            "type": "object",
                                            "description": "Optional debug information (only present when debug=true is passed to the endpoint). Contains ingested and duplicate event idempotency keys.",
                                            "minProperties": 0,
                                            "maxProperties": 0,
                                            "properties": {
                                                "duplicate": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "ingested": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "validation_failed": {
                                            "type": "array",
                                            "uniqueItems": true,
                                            "minItems": 1,
                                            "description": "Contains all failing validation events. In the case of a 200, this array will always be empty. This field will always be present.",
                                            "items": [
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "idempotency_key": {
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "description": "The passed idempotency_key corresponding to the validation_errors"
                                                        },
                                                        "validation_errors": {
                                                            "type": "array",
                                                            "description": "An array of objects corresponding to validation failures for each idempotency_key.",
                                                            "items": {
                                                                "type": "object"
                                                            }
                                                        }
                                                    }
                                                },
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "idempotency_key": {
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "description": "The passed idempotency_key corresponding to the validation_errors"
                                                        },
                                                        "validation_errors": {
                                                            "type": "array",
                                                            "description": "An array of objects corresponding to validation failures for each idempotency_key.",
                                                            "items": {
                                                                "type": "object"
                                                            }
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    "required": [
                                        "validation_failed"
                                    ]
                                },
                                "examples": {
                                    "Successful ingestion": {
                                        "value": {
                                            "validation_failed": []
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "debug": {
                                            "type": "object",
                                            "description": "Optional debug information (only present when debug=true is passed to the endpoint). Contains ingested and duplicate event idempotency keys.",
                                            "properties": {
                                                "duplicate": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "ingested": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "validation_failed": {
                                            "type": "array",
                                            "description": "Contains all failing validation events. In the case of a 400, there will be at least one entry in this array.",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "idempotency_key": {
                                                        "type": "string"
                                                    },
                                                    "validation_errors": {
                                                        "type": "array",
                                                        "description": "An array of objects corresponding to validation failures for each idempotency_key.",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "validation_failed"
                                    ]
                                },
                                "examples": {
                                    "Validation failure": {
                                        "value": {
                                            "validation_failed": [
                                                {
                                                    "idempotency_key": "9MWjqKUG9saHtWew",
                                                    "validation_errors": [
                                                        "Event idempotency_key 9MWjqKUG9saHtWew is a duplicate,but the current request does not match the previous request"
                                                    ]
                                                },
                                                {
                                                    "idempotency_key": "gZkWyHjbNRUXSDxJ",
                                                    "validation_errors": [
                                                        "Event idempotency_key gZkWyHjbNRUXSDxJ is a duplicate,but the current request does not match the previous request"
                                                    ]
                                                },
                                                {
                                                    "idempotency_key": "AEocrVaAeu73YZ9E",
                                                    "validation_errors": [
                                                        "Event idempotency_key AEocrVaAeu73YZ9E is a duplicate,but the current request does not match the previous request"
                                                    ]
                                                },
                                                {
                                                    "idempotency_key": "WQck5u83uSigyrWQ",
                                                    "validation_errors": [
                                                        "Event idempotency_key WQck5u83uSigyrWQ is a duplicate,but the current request does not match the previous request"
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "post-ingest",
                "description": "Orb's event ingestion model and API is designed around two core principles:\n\n1. **Data fidelity**: The accuracy of your billing model depends on a robust foundation of events. Orb's API protocol encourages usage patterns that ensure that your data is consistently complete and correct.\n2. **Fast integration**: Sending events into Orb requires no tedious setup steps or explicit field schema for your event shape, making it instant to start streaming in usage in real-time.\n\n\n## Event shape\n\nEvents are the starting point for all usage calculations in the system, and are simple at their core:\n\n```json\n{\n  // customer_id and external_customer_id are used to\n  // attribute usage to a given Customer. Exactly one of these\n  // should be specified in a given ingestion event.\n\n  // `customer_id` is the Orb generated identifier for the Customer,\n  // which is returned from the Create Customer API call.\n  customer_id: string,\n\n  // external_customer_id is an alternate identifier which is associated\n  // with a Customer at creation time. This is treated as an alias for\n  // customer_id, and is usually set to an identifier native to your system.\n  external_customer_id: string,\n\n  // A string name identifying the event, usually a usage\n  // action. By convention, this should not contain any whitespace.\n  event_name: string,\n\n  // An ISO 8601 format date with no timezone offset.\n  // This should represent the time that usage occurred\n  // and is important to attribute usage to a given\n  // billing period. See the notes below on determining the timestamp.\n  // e.g. 2020-12-09T16:09:53Z\n  timestamp: string,\n\n  // A unique value, generated by the client, that is\n  // used to de-duplicate events.\n  // Exactly one event with a given\n  // idempotency key will be ingested, which allows for\n  // safe request retries.\n  idempotency_key: string\n\n  // Optional custom metadata to attach to the event.\n  // This might include a numeric value used for aggregation,\n  // or a string/boolean value used for filtering.\n  // The schema of this dictionary need not be pre-declared, and\n  // properties can be added at any time.\n  properties: {\n    [key: string]?: string | number | boolean,\n  },\n}\n```\n\n## Required fields\nBecause events streamed to Orb are meant to be as flexible as possible, there are only a few required fields in every event.\n\n- We recommend that `idempotency_key` are unique strings that you generated with V4 UUIDs, but only require that they uniquely identify an event (i.e. don’t collide).\n- The `timestamp` field in the event body will be used to determine which billable period a given event falls into. For example, with a monthly billing cycle starting from the first of December, Orb will calculate metrics based on events that fall into the range `12-01 00:00:00 <= timestamp < 01-01 00:00:00`.\n\n## Logging metadata\n\nOrb allows tagging events with metadata using a flexible properties dictionary. Since Orb does not enforce a rigid schema for this field-set, key-value pairs can be added dynamically as your events evolve.\n\nThis dictionary can be helpful for a wide variety of use cases:\n\n- Numeric properties on events like `compute_time_ms` can later be inputs to our flexible query engine to determine usage.\n- Logging a region or cluster with each event can help you provide customers more granular visibility into their usage.\n\nWe encourage logging this metadata with an eye towards future use cases to ensure full coverage for historical data. The datatype of the value in the properties dictionary is important for metric creation from an event source. Values that you wish to numerically aggregate should be of numeric type in the event.\n\n\n## Determining event timestamp\nFor cases where usage is being reported in real time as it is occurring, timestamp should correspond to the time that usage occurred.\n\nIn cases where usage is reported in aggregate for a historical timeframe at a regular interval, we recommend setting the event `timestamp` to the midpoint of the interval. As an example, if you have an hourly reporter that sends data once an hour for the previous hour of usage, setting the `timestamp` to the half-hour mark will ensure that the usage is counted within the correct period.\n\nNote that other time-related fields (e.g. time elapsed) can be added to the properties dictionary as necessary.\n\nIn cases where usage is reported in aggregate for a historical timeframe, the timestamp must be within the grace period set for your account. Events with `timestamp < current_time - grace_period` will not be accepted as a valid event, and will throw validation errors. Enforcing the grace period enables Orb to accurately map usage to the correct billing cycle and ensure that all usage is billed for in the corresponding billing period.\n\n## Event validation\n\nOrb’s validation ensures that you recognize errors in your events as quickly as possible, and the API provides informative error messages to help you fix problems quickly.\n\nWe validate the following:\n\n- Exactly one of `customer_id` and `external_customer_id` should be specified.\n- If specified, `customer_id` must identify a Customer resource within Orb. We do not support sending events for customers that have not been provisioned. Similarly, if specified, `external_customer_id` must be an identifier that is associated with an Orb Customer resource. Note: During our initial integration period, this enforcement will be temporarily turned into a warning to ensure smooth customer migration.\n- `timestamp` must conform to ISO 8601 and represent a timestamp at most 1 hour in the future. This timestamp should be sent in UTC timezone (no timezone offset).\n\n## Idempotency and retry semantics\n\nOrb's idempotency guarantees allow you to implement safe retry logic in the event of network or machine failures, ensuring data fidelity. Each event in the request payload is associated with an idempotency key, and Orb guarantees that a single idempotency key will be successfully ingested at most once.\n\n- Successful responses return a 200 HTTP status code. The response contains information about previously processed events.\n- Requests that return a `4xx` HTTP status code indicate a payload error and contain at least one event with a validation failure. An event with a validation failure can be re-sent to the ingestion endpoint (after the payload is fixed) with the original idempotency key since that key is not marked as processed.\n- Requests that return a `5xx` HTTP status code indicate a server-side failure. These requests should be retried in their entirety.\n\n\n## API usage and limits\nThe ingestion API is designed made for real-time streaming ingestion and architected for high throughput. Even if events are later deemed unnecessary or filtered out, we encourage you to log them to Orb if they may be relevant to billing calculations in the future.\n\nTo take advantage of the real-time features of the Orb platform and avoid any chance of dropped events by producers, we recommend reporting events to Orb frequently. Optionally, events can also be briefly aggregated at the source, as this API accepts an array of event bodies.\n\nOrb does not currently enforce a hard rate-limit for API usage or a maximum request payload size, but please give us a heads up if you’re changing either of these factors by an order of magnitude from initial setup.\n\n## Testing in debug mode\nThe ingestion API supports a debug mode, which returns additional verbose output to indicate which event idempotency keys were newly ingested or duplicates from previous requests. To enable this mode, mark `debug=true` as a query parameter.\n\nIf `debug=true` is not specified, the response will only contain `validation_failed`. Orb will still honor the idempotency guarantees set [here](https://docs.withorb.com/docs/orb-docs/event-ingestion#event-volume-and-concurrency) in all cases.\n\nWe strongly recommend that you only use debug mode as part of testing your initial Orb integration. Once you're ready to switch to production, disable debug mode to take advantage of improved performance and maximal throughput.\n\n#### Example: ingestion response with `debug=true`\n\n```json\n{\n  \"debug\": {\n    \"duplicate\": [], \n    \"ingested\": [\n      \"B7E83HDMfJPAunXW\",\n      \"SJs5DQJ3TnwSqEZE\",\n      \"8SivfDsNKwCeAXim\"\n    ]\n  }, \n  \"validation_failed\": []\n}\n```\n\n#### Example: ingestion response with `debug=false`\n\n```json\n{\n  \"validation_failed\": []\n}\n```",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "",
                                "type": "object",
                                "x-examples": {},
                                "properties": {
                                    "events": {
                                        "type": "array",
                                        "uniqueItems": true,
                                        "minItems": 1,
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "idempotency_key": {
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "description": "A unique value, generated by the client, that is used to de-duplicate events. Exactly one event with a given idempotency key will be ingested, which allows for safe request retries."
                                                },
                                                "external_customer_id": {
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "description": "An alias for the Orb customer, whose mapping is specified when creating the customer"
                                                },
                                                "customer_id": {
                                                    "type": "string",
                                                    "description": "The Orb Customer identifier"
                                                },
                                                "event_name": {
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "description": "A name to meaningfully identify the action or event type."
                                                },
                                                "properties": {
                                                    "type": "object",
                                                    "description": "A dictionary of custom properties. Values in this dictionary must be numeric, boolean, or strings. Nested dictionaries are disallowed.",
                                                    "minProperties": 1
                                                },
                                                "timestamp": {
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "description": "An ISO 8601 format date with no timezone offset (i.e. UTC). This should represent the time that usage was recorded, and is particularly important to attribute usage to a given billing period.",
                                                    "example": "2020-12-09T16:09:53Z"
                                                }
                                            },
                                            "required": [
                                                "idempotency_key",
                                                "event_name",
                                                "properties",
                                                "timestamp"
                                            ]
                                        }
                                    }
                                },
                                "required": [
                                    "events"
                                ]
                            },
                            "examples": {
                                "Successful Ingestion": {
                                    "value": {
                                        "events": [
                                            {
                                                "customer_id": "6urAfP3eqHso3a2k",
                                                "event_name": "payment_processed",
                                                "timestamp": "2022-05-11T21:33:13.1652304793Z",
                                                "idempotency_key": "fQp2wSmK7CF9oPcu",
                                                "properties": {
                                                    "amount": 100
                                                }
                                            },
                                            {
                                                "customer_id": "6urAfP3eqHso3a2k",
                                                "event_name": "payment_processed",
                                                "timestamp": "2022-05-11T21:33:13.1652304793Z",
                                                "idempotency_key": "8h5rSNYgYj5ngws7",
                                                "properties": {
                                                    "amount": 100
                                                }
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "description": ""
                },
                "tags": [
                    "Event"
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "enum": [
                                "true",
                                "false"
                            ],
                            "default": "false"
                        },
                        "in": "query",
                        "name": "debug",
                        "description": "Flag to enable additional debug information in the endpoint response"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "backfill_id",
                        "description": "If this ingestion request is part of a backfill, this parameter ties the ingested events to the backfill"
                    }
                ]
            },
            "parameters": []
        },
        "/customers": {
            "get": {
                "summary": "List customers",
                "tags": [
                    "Customer"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "type": "object",
                                    "x-examples": {
                                        "example-1": {
                                            "data": [
                                                {
                                                    "billing_address": null,
                                                    "created_at": "2022-04-02T07:16:00+00:00",
                                                    "email": "sujay-api-test-2@test.com",
                                                    "external_customer_id": "sujay-api-test-2",
                                                    "id": "J6j5TtH7NeKDmCKM",
                                                    "name": "sujay-api-test 2",
                                                    "payment_provider": null,
                                                    "payment_provider_id": null,
                                                    "shipping_address": null,
                                                    "timezone": "America/Los_Angeles"
                                                },
                                                {
                                                    "billing_address": null,
                                                    "created_at": "2022-04-02T07:02:18+00:00",
                                                    "email": "sujay-api-creation-test@gmail.com",
                                                    "external_customer_id": "sujay-api-creation-test",
                                                    "id": "3c7ye996r6oaQAHW",
                                                    "name": "sujay api creation test",
                                                    "payment_provider": null,
                                                    "payment_provider_id": null,
                                                    "shipping_address": null,
                                                    "timezone": "America/Los_Angeles"
                                                },
                                                {
                                                    "billing_address": null,
                                                    "created_at": "2022-03-31T23:55:59+00:00",
                                                    "email": "test@test.com",
                                                    "external_customer_id": null,
                                                    "id": "KbNRQQ3uRjwqVHCo",
                                                    "name": "Child plan Creation test",
                                                    "payment_provider": null,
                                                    "payment_provider_id": null,
                                                    "shipping_address": null,
                                                    "timezone": "America/Los_Angeles"
                                                },
                                                {
                                                    "billing_address": null,
                                                    "created_at": "2022-03-31T23:23:39+00:00",
                                                    "email": "sujay-harrison-non-first-bcd-test@gmail.com",
                                                    "external_customer_id": "sujay-harrison-non-first-bcd-test",
                                                    "id": "i9WqeaKzZCnvdYpk",
                                                    "name": "sujay-harrison-non-first-bcd-test",
                                                    "payment_provider": null,
                                                    "payment_provider_id": null,
                                                    "shipping_address": null,
                                                    "timezone": "America/Los_Angeles"
                                                },
                                                {
                                                    "billing_address": null,
                                                    "created_at": "2022-03-31T21:35:10+00:00",
                                                    "email": "kshitijsujay-test2@gmail.com",
                                                    "external_customer_id": "kshitijsujay-test2",
                                                    "id": "k76RFwfcyuykWRsA",
                                                    "name": "kshitijsujay test2",
                                                    "payment_provider": null,
                                                    "payment_provider_id": null,
                                                    "shipping_address": null,
                                                    "timezone": "America/Los_Angeles"
                                                },
                                                {
                                                    "billing_address": null,
                                                    "created_at": "2022-03-31T21:31:16+00:00",
                                                    "email": "sujaykshitij@test.com",
                                                    "external_customer_id": "sujaykshitij-test",
                                                    "id": "2oKpTtSxcWby4NPf",
                                                    "name": "sujaykshitij test",
                                                    "payment_provider": null,
                                                    "payment_provider_id": null,
                                                    "shipping_address": null,
                                                    "timezone": "America/Los_Angeles"
                                                },
                                                {
                                                    "billing_address": null,
                                                    "created_at": "2022-03-31T16:35:15+00:00",
                                                    "email": "future-sujay@gmail.com",
                                                    "external_customer_id": "future-sujay",
                                                    "id": "muaLnSH3W9HShrwi",
                                                    "name": "Future Sujay",
                                                    "payment_provider": null,
                                                    "payment_provider_id": null,
                                                    "shipping_address": null,
                                                    "timezone": "America/Los_Angeles"
                                                },
                                                {
                                                    "billing_address": null,
                                                    "created_at": "2022-03-31T06:41:11+00:00",
                                                    "email": "sujay-non-first@bcd.test",
                                                    "external_customer_id": "sujay-non-first-bcd-test",
                                                    "id": "EoYFThcx8PL7PbaU",
                                                    "name": "Sujay NonFirst BCD Test",
                                                    "payment_provider": null,
                                                    "payment_provider_id": null,
                                                    "shipping_address": null,
                                                    "timezone": "America/Los_Angeles"
                                                },
                                                {
                                                    "billing_address": null,
                                                    "created_at": "2022-03-25T23:06:26+00:00",
                                                    "email": "real@test.com",
                                                    "external_customer_id": "real-in-arrear-test",
                                                    "id": "WwioHRm6xKBJZFc8",
                                                    "name": "The Real In-Arrear Test",
                                                    "payment_provider": null,
                                                    "payment_provider_id": null,
                                                    "shipping_address": null,
                                                    "timezone": "America/Los_Angeles"
                                                },
                                                {
                                                    "billing_address": null,
                                                    "created_at": "2022-03-25T23:00:47+00:00",
                                                    "email": "sujay-real-in-arrear@test.com",
                                                    "external_customer_id": "sujay-real-in-arrear",
                                                    "id": "bXY2QtivPUMTZoXn",
                                                    "name": "Sujay-Real In Arrear Test",
                                                    "payment_provider": null,
                                                    "payment_provider_id": null,
                                                    "shipping_address": null,
                                                    "timezone": "America/Los_Angeles"
                                                },
                                                {
                                                    "billing_address": null,
                                                    "created_at": "2022-03-25T22:54:32+00:00",
                                                    "email": "sujay-inarrear@sujay.com",
                                                    "external_customer_id": "sujay-inarrear",
                                                    "id": "2i9uPdxE9CD7Xhof",
                                                    "name": "Sujay InArrear Test",
                                                    "payment_provider": null,
                                                    "payment_provider_id": null,
                                                    "shipping_address": null,
                                                    "timezone": "America/Los_Angeles"
                                                },
                                                {
                                                    "billing_address": null,
                                                    "created_at": "2022-03-25T17:51:23+00:00",
                                                    "email": "sujay-minimum@sujay.com",
                                                    "external_customer_id": "sujay-minimum",
                                                    "id": "f54AJtLCjZmpRx8P",
                                                    "name": "SujayMinimumTest",
                                                    "payment_provider": null,
                                                    "payment_provider_id": null,
                                                    "shipping_address": null,
                                                    "timezone": "America/Los_Angeles"
                                                },
                                                {
                                                    "billing_address": null,
                                                    "created_at": "2022-03-23T22:36:11+00:00",
                                                    "email": "dupe@dupe.com",
                                                    "external_customer_id": "sujay-sub-test",
                                                    "id": "6gzTmS44o2sdU5bN",
                                                    "name": "Sujay KBCreateSubDupe Test",
                                                    "payment_provider": null,
                                                    "payment_provider_id": null,
                                                    "shipping_address": null,
                                                    "timezone": "America/Los_Angeles"
                                                },
                                                {
                                                    "billing_address": null,
                                                    "created_at": "2022-03-22T21:33:12+00:00",
                                                    "email": "test@test.com",
                                                    "external_customer_id": "sujay-same-day-cancel",
                                                    "id": "RLBMpizTWSs8r97N",
                                                    "name": "Sujay SameDay Immediate",
                                                    "payment_provider": null,
                                                    "payment_provider_id": null,
                                                    "shipping_address": null,
                                                    "timezone": "America/Los_Angeles"
                                                },
                                                {
                                                    "billing_address": null,
                                                    "created_at": "2022-03-22T01:54:44+00:00",
                                                    "email": "testcustomer@withorb.com",
                                                    "external_customer_id": null,
                                                    "id": "bvvZyrTycYQ7F4eq",
                                                    "name": "Test customer in trial",
                                                    "payment_provider": null,
                                                    "payment_provider_id": null,
                                                    "shipping_address": null,
                                                    "timezone": "America/Los_Angeles"
                                                },
                                                {
                                                    "billing_address": null,
                                                    "created_at": "2022-03-21T23:58:55+00:00",
                                                    "email": "sujay@immediatecancel.com",
                                                    "external_customer_id": "sujayimmediate",
                                                    "id": "aRkBNCZ8b8Raj5BR",
                                                    "name": "Sujay Immediate Cancel Test",
                                                    "payment_provider": null,
                                                    "payment_provider_id": null,
                                                    "shipping_address": null,
                                                    "timezone": "America/Los_Angeles"
                                                },
                                                {
                                                    "billing_address": null,
                                                    "created_at": "2022-03-08T23:05:20+00:00",
                                                    "email": "team@withorb.com",
                                                    "external_customer_id": null,
                                                    "id": "6Cq3WrLP3uwgTbCC",
                                                    "name": "Hourly Deductions QA",
                                                    "payment_provider": null,
                                                    "payment_provider_id": null,
                                                    "shipping_address": null,
                                                    "timezone": "America/Los_Angeles"
                                                },
                                                {
                                                    "billing_address": null,
                                                    "created_at": "2022-03-04T22:27:16+00:00",
                                                    "email": "harrison@withorb.com",
                                                    "external_customer_id": null,
                                                    "id": "WJpamEbeScjbTb2i",
                                                    "name": "Trial Customer",
                                                    "payment_provider": null,
                                                    "payment_provider_id": null,
                                                    "shipping_address": null,
                                                    "timezone": "America/Los_Angeles"
                                                },
                                                {
                                                    "billing_address": null,
                                                    "created_at": "2022-03-02T21:27:02+00:00",
                                                    "email": "team@withorb.com",
                                                    "external_customer_id": null,
                                                    "id": "WDZ7iFWY2nT37s3q",
                                                    "name": "Test Cancel And Create",
                                                    "payment_provider": null,
                                                    "payment_provider_id": null,
                                                    "shipping_address": {
                                                        "city": "San Jose",
                                                        "country": "US",
                                                        "line1": "2910 Cryptocon Way",
                                                        "line2": null,
                                                        "postal_code": null,
                                                        "state": "CA"
                                                    },
                                                    "timezone": "America/Los_Angeles"
                                                },
                                                {
                                                    "billing_address": null,
                                                    "created_at": "2022-02-25T18:37:35+00:00",
                                                    "email": "harrison@withorb.com",
                                                    "external_customer_id": "no-sub-update",
                                                    "id": "CZ67xXX252NYUmha",
                                                    "name": "Update Customer",
                                                    "payment_provider": null,
                                                    "payment_provider_id": null,
                                                    "shipping_address": null,
                                                    "timezone": "America/Los_Angeles"
                                                }
                                            ],
                                            "pagination_metadata": {
                                                "has_more": true,
                                                "next_cursor": "bqyABXeP3c6aTi6S"
                                            }
                                        }
                                    },
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "uniqueItems": true,
                                            "minItems": 0,
                                            "items": {
                                                "$ref": "#/components/schemas/Customer"
                                            },
                                            "readOnly": true
                                        },
                                        "pagination_metadata": {
                                            "type": "object",
                                            "required": [
                                                "has_more",
                                                "next_cursor"
                                            ],
                                            "properties": {
                                                "has_more": {
                                                    "type": "boolean"
                                                },
                                                "next_cursor": {
                                                    "type": "string",
                                                    "minLength": 1
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "pagination_metadata"
                                    ]
                                }
                            }
                        }
                    }
                },
                "operationId": "get-customers",
                "description": "\n\nThis endpoint returns a list of all customers for an account. The list of customers is ordered starting from the most recently created customer. This endpoint follows Orb's [standardized pagination format](../docs/Pagination.md).\n\nSee [Customer](../reference/Orb-API.json/components/schemas/Customer) for an overview of the customer model."
            },
            "post": {
                "summary": "Create customer",
                "operationId": "post-customers",
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customer"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "x-examples": {
                                    "example-1": {
                                        "name": "Moon Microsystems, Inc.",
                                        "email": "larry@moon.com",
                                        "timezone": "America/New_York",
                                        "payment_provider_id": "cus_81fz3febyT2iMk",
                                        "payment_provider": "stripe"
                                    }
                                },
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "minLength": 1,
                                        "description": "The full name of the customer"
                                    },
                                    "email": {
                                        "type": "string",
                                        "minLength": 1,
                                        "description": "A valid customer email, to be used for invoicing and notifications."
                                    },
                                    "timezone": {
                                        "type": "string",
                                        "minLength": 1,
                                        "description": "A timezone identifier from the IANA timezone database, such as \"America/Los_Angeles\". This defaults to your account's timezone if not set. This cannot be changed after customer creation.",
                                        "example": "Etc/UTC",
                                        "default": "UTC"
                                    },
                                    "payment_provider_id": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "minLength": 1,
                                        "description": "The ID of this customer in an external payments solution, such as Stripe. This is used for creating charges or invoices in the external system via Orb."
                                    },
                                    "payment_provider": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "minLength": 1,
                                        "enum": [
                                            "quickbooks",
                                            "bill.com",
                                            "stripe_charge",
                                            "stripe_invoice"
                                        ],
                                        "default": null,
                                        "description": "This is used for creating charges or invoices in an external system via Orb. When not in test mode:\n- the connection must first be configured in the Orb webapp. \n- if the provider is an invoicing provider (`stripe_invoice`, `quickbooks`, `bill.com`), any product mappings must first be configured with the Orb team."
                                    },
                                    "external_customer_id": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "description": "An optional user-defined ID for this customer resource, used throughout the system as an alias for this Customer. Use this field to identify a customer by an existing identifier in your system."
                                    },
                                    "shipping_address": {
                                        "type": [
                                            "object",
                                            "null"
                                        ],
                                        "description": "The customer's shipping address; all fields in the address are optional. Note that downstream tax calculations are based on the shipping address.",
                                        "additionalProperties": false,
                                        "properties": {
                                            "city": {
                                                "type": "string"
                                            },
                                            "country": {
                                                "type": "string",
                                                "description": "Two-letter country code (ISO 3166-1 alpha-2).",
                                                "example": "US"
                                            },
                                            "line1": {
                                                "type": "string"
                                            },
                                            "line2": {
                                                "type": "string"
                                            },
                                            "postal_code": {
                                                "type": "string",
                                                "description": "ZIP or postal code"
                                            },
                                            "state": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "billing_address": {
                                        "type": [
                                            "object",
                                            "null"
                                        ],
                                        "description": "The customer's billing address; all fields in the address are optional. This address appears on customer invoices.",
                                        "additionalProperties": false,
                                        "properties": {
                                            "city": {
                                                "type": "string"
                                            },
                                            "country": {
                                                "type": "string",
                                                "description": "Two-letter country code (ISO 3166-1 alpha-2).",
                                                "example": "US"
                                            },
                                            "line1": {
                                                "type": "string"
                                            },
                                            "line2": {
                                                "type": "string"
                                            },
                                            "postal_code": {
                                                "type": "string",
                                                "description": "ZIP or postal code"
                                            },
                                            "state": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "currency": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "description": "An ISO 4217 currency string used for the customer's invoices and balance. If not set at creation time, will be set at subscription creation time."
                                    },
                                    "tax_id": {
                                        "$ref": "#/components/schemas/Customer-tax-id",
                                        "description": "The tax ID details used to display on the customer's invoice."
                                    },
                                    "auto_collection": {
                                        "type": "boolean",
                                        "description": "Used to determine if invoices for this customer will automatically attempt to charge a saved payment method, if available. This parameter defaults to `True` when a payment provider is provided on customer creation."
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "x-stoplight": {
                                            "id": "op3oopgpybpoh"
                                        },
                                        "description": "User-specified key value pairs, often useful for referencing internal resources or IDs. Returned as-is in the customer resource."
                                    }
                                },
                                "required": [
                                    "name",
                                    "email"
                                ]
                            },
                            "examples": {
                                "example-1": {
                                    "value": {
                                        "name": "string",
                                        "email": "string",
                                        "timezone": "Etc/UTC",
                                        "payment_provider_id": "string",
                                        "payment_provider": "stripe",
                                        "external_customer_id": "string",
                                        "shipping_address": {
                                            "city": "string",
                                            "country": "US",
                                            "line1": "string",
                                            "line2": "string",
                                            "postal_code": "string",
                                            "state": "string"
                                        },
                                        "billing_address": {
                                            "city": "string",
                                            "country": "US",
                                            "line1": "string",
                                            "line2": "string",
                                            "postal_code": "string",
                                            "state": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "description": ""
                },
                "tags": [
                    "Customer"
                ],
                "description": "This operation is used to create an Orb customer, who is party to the core billing relationship. See [Customer](../reference/Orb-API.json/components/schemas/Customer) for an overview of the customer resource.\n\nThis endpoint is critical in the following Orb functionality:\n* Automated charges can be configured by setting `payment_provider` and `payment_provider_id` to automatically issue invoices\n* [Customer ID Aliases](../docs/Customer-ID-Aliases.md) can be configured by setting `external_customer_id`\n* [Timezone localization](../docs/Timezone-localization.md) can be configured on a per-customer basis by setting the `timezone` parameter"
            },
            "parameters": []
        },
        "/customers/{customer_id}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "customer_id",
                    "in": "path",
                    "required": true,
                    "description": "Orb customer ID"
                }
            ],
            "put": {
                "summary": "Update customer",
                "operationId": "put-customers-customer_id",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customer"
                                }
                            }
                        }
                    }
                },
                "description": "This endpoint can be used to update the `payment_provider`, `payment_provider_id`, `name`, `email`, `email_delivery`, `auto_collection`, `shipping_address`, and `billing_address` of an existing customer.\n\nOther fields on a customer are currently immutable.",
                "tags": [
                    "Customer"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "description": "The external payments or invoicing solution connected to this customer.",
                                "properties": {
                                    "payment_provider": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "description": "This is used for creating charges or invoices in an external system via Orb. When not in test mode:\n- the connection must first be configured in the Orb webapp. \n- if the provider is an invoicing provider (`stripe_invoice`, `quickbooks`, `bill.com`), any product mappings must first be configured with the Orb team.",
                                        "enum": [
                                            "stripe_invoice",
                                            "quickbooks",
                                            "bill.com",
                                            "stripe_charge"
                                        ]
                                    },
                                    "payment_provider_id": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "description": "The ID of this customer in an external payments solution, such as Stripe. This is used for creating charges or invoices in the external system via Orb."
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string",
                                        "description": "A valid customer email, to be used for invoicing and notifications."
                                    },
                                    "billing_address": {
                                        "type": [
                                            "null",
                                            "object"
                                        ],
                                        "description": "The customer's billing address; all fields in the address are optional. This address appears on customer invoices.",
                                        "properties": {
                                            "city": {
                                                "type": "string"
                                            },
                                            "country": {
                                                "type": "string",
                                                "description": "Two-letter country code (ISO 3166-1 alpha-2).",
                                                "example": "US"
                                            },
                                            "line1": {
                                                "type": "string"
                                            },
                                            "line2": {
                                                "type": "string"
                                            },
                                            "postal_code": {
                                                "type": "string",
                                                "description": "ZIP or postal code"
                                            },
                                            "state": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "shipping_address": {
                                        "type": [
                                            "null",
                                            "object"
                                        ],
                                        "description": "The customer's shipping address; all fields in the address are optional. Note that downstream tax calculations are based on the shipping address.",
                                        "properties": {
                                            "city": {
                                                "type": "string"
                                            },
                                            "country": {
                                                "type": "string",
                                                "description": "Two-letter country code (ISO 3166-1 alpha-2).",
                                                "example": "US"
                                            },
                                            "line1": {
                                                "type": "string"
                                            },
                                            "line2": {
                                                "type": "string"
                                            },
                                            "postal_code": {
                                                "type": "string",
                                                "description": "ZIP or postal code"
                                            },
                                            "state": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "tax_id": {
                                        "$ref": "#/components/schemas/Customer-tax-id",
                                        "description": "The tax ID details used to display on the customer's invoice."
                                    },
                                    "auto_collection": {
                                        "type": "boolean",
                                        "description": "Auto collection behavior determines whether the payment method will automatically be charged for issued invoices. This field cannot be updated to `True` if the customer does not have a payment provider linked."
                                    },
                                    "email_delivery": {
                                        "type": "boolean",
                                        "description": "Determines whether Orb will send automated emails to this customer. This setting is superseded by the account-wide email setting for email delivery."
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "x-stoplight": {
                                            "id": "cxl5qnbtfp9su"
                                        },
                                        "description": "User-specified key value pairs, often useful for referencing internal resources or IDs. Returned as-is in the customer resource."
                                    }
                                }
                            }
                        }
                    },
                    "description": ""
                }
            },
            "get": {
                "summary": "Retrieve a customer",
                "operationId": "get-customers-customer_id",
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customer"
                                },
                                "examples": {
                                    "example-1": {
                                        "value": {
                                            "id": "UFHPn8Es9sctYH5k",
                                            "name": "Moon Microsystems, Inc.",
                                            "email": "larry@moon.com",
                                            "timezone": "America/New_York",
                                            "payment_provider_id": "cus_81fz2febyT2iMk",
                                            "payment_provider": "stripe",
                                            "created_at": "2021-07-30T17:10:08.000000"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "This endpoint is used to fetch customer details given an identifier. If the `Customer` is in the process of being deleted, only the properties `id` and `deleted: true` will be returned.\n\nSee the [Customer resource](Orb-API.json/components/schemas/Customer) for a full discussion of the Customer model.\n",
                "tags": [
                    "Customer"
                ]
            },
            "delete": {
                "summary": "Delete a customer",
                "operationId": "delete-customers-customer_id",
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                },
                "description": "This performs a deletion of this customer, its subscriptions, and its invoices. This operation is irreversible. Note that this is a _soft_ deletion, but the data will be inaccessible through the API and Orb dashboard. For hard-deletion, please reach out to the Orb team directly.\n\n**Note**: This operation happens asynchronously and can be expected to take a few minutes to propagate to related resources. However, querying for the customer on subsequent GET requests while deletion is in process will reflect its deletion with a `deleted: true` property. Once the customer deletion has been fully processed, the customer will not be returned in the API.",
                "tags": [
                    "Customer"
                ]
            }
        },
        "/ping": {
            "get": {
                "summary": "Check availability",
                "tags": [
                    "Availability"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "type": "object",
                                    "properties": {
                                        "response": {
                                            "type": "string",
                                            "minLength": 1
                                        }
                                    },
                                    "required": [
                                        "response"
                                    ],
                                    "x-examples": {
                                        "example-1": {
                                            "response": "pong"
                                        }
                                    }
                                },
                                "examples": {
                                    "Successful ping response": {
                                        "value": {
                                            "response": "pong"
                                        }
                                    },
                                    "Invalid authorization": {
                                        "value": {
                                            "code": "authorization_header_invalid",
                                            "description": "Invalid API Key"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "get-ping",
                "description": "This endpoint allows you to test your connection to the Orb API and check the validity of your API key, passed in the `Authorization` header. This is particularly useful for checking that your environment is set up properly, and is a great choice for connectors and integrations.\n\nThis API does not have any side-effects or return any Orb resources.",
                "parameters": []
            }
        },
        "/customers/{customer_id}/credits": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "customer_id",
                    "in": "path",
                    "required": true,
                    "description": "The Orb Customer ID"
                }
            ],
            "get": {
                "summary": "Retrieve credit balance",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "type": "object",
                                    "x-examples": {
                                        "example-1": {
                                            "data": [
                                                {
                                                    "balance": 1.472228333333333,
                                                    "expiry_date": null,
                                                    "id": "Pqe5m4sACcZRHjaw",
                                                    "per_unit_cost_basis": null
                                                }
                                            ],
                                            "pagination_metadata": {
                                                "has_more": false,
                                                "next_cursor": null
                                            }
                                        }
                                    },
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "uniqueItems": true,
                                            "minItems": 0,
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "balance": {
                                                        "type": "number",
                                                        "description": "Remaining credits in this block"
                                                    },
                                                    "expiry_date": {
                                                        "type": [
                                                            "null",
                                                            "string"
                                                        ],
                                                        "description": "An ISO 8601 format date with a timezone offset that represents when this block of credits is no longer usable.",
                                                        "example": "2022-12-28T08:00:00+00:00",
                                                        "format": "date-time"
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "minLength": 1
                                                    },
                                                    "per_unit_cost_basis": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ],
                                                        "description": "How much, in USD, a customer paid for a single credit in this block"
                                                    }
                                                },
                                                "required": [
                                                    "balance",
                                                    "expiry_date",
                                                    "id",
                                                    "per_unit_cost_basis"
                                                ]
                                            }
                                        },
                                        "pagination_metadata": {
                                            "type": "object",
                                            "required": [
                                                "has_more"
                                            ],
                                            "properties": {
                                                "has_more": {
                                                    "type": "boolean"
                                                },
                                                "next_cursor": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "pagination_metadata"
                                    ]
                                },
                                "examples": {
                                    "Example": {
                                        "value": {
                                            "data": [
                                                {
                                                    "balance": 5,
                                                    "expiry_date": "2021-12-05T00:00:00+00:00",
                                                    "id": "jdus8ldncms4g7js",
                                                    "per_unit_cost_basis": "0.20"
                                                },
                                                {
                                                    "balance": 10,
                                                    "expiry_date": null,
                                                    "id": "8fdu10odp13fjncD",
                                                    "per_unit_cost_basis": null
                                                }
                                            ],
                                            "pagination_metadata": {
                                                "has_more": true,
                                                "next_cursor": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "get-customers-customer_id-credits",
                "description": "This [paginated endpoint](../docs/Pagination.md) can be used to fetch the current state of credit balance for the specified `customer_id`.\n\nOrb keeps track of credit balances in _credit blocks_, where each block is optionally associated with an `expiry_date`. Each time credits are added, a new credit block is created. Credits which do not expire have an `expiry_date` of `null`. To aid in revenue recognition, credit blocks can optionally have a `per_unit_cost_basis`, to indicate how much in USD a customer paid for a single credit in a block.\n\nOrb only returns _unexpired_ credit blocks in this response. For credits that have already expired, you can view this deduction from the customer's balance in the [Credit Ledger](../reference/Orb-API.json/paths/~1customers~1{customer_id}~1credits~1ledger/get) response.",
                "tags": [
                    "Credits"
                ]
            }
        },
        "/customers/{external_customer_id}/credits": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "external_customer_id",
                    "in": "path",
                    "required": true
                }
            ],
            "get": {
                "summary": "Retrieve credit balance by external customer ID",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "type": "object",
                                    "x-examples": {
                                        "example-1": {
                                            "data": [
                                                {
                                                    "balance": 1.472228333333333,
                                                    "expiry_date": null,
                                                    "id": "Pqe5m4sACcZRHjaw",
                                                    "per_unit_cost_basis": null
                                                }
                                            ],
                                            "pagination_metadata": {
                                                "has_more": false,
                                                "next_cursor": null
                                            }
                                        }
                                    },
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "uniqueItems": true,
                                            "minItems": 0,
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "balance": {
                                                        "type": "number",
                                                        "description": "Remaining credits in this block"
                                                    },
                                                    "expiry_date": {
                                                        "type": [
                                                            "null",
                                                            "string"
                                                        ],
                                                        "description": "An ISO 8601 format date with a timezone offset that represents when this block of credits is no longer usable.",
                                                        "example": "2022-12-28T08:00:00+00:00",
                                                        "format": "date-time"
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "minLength": 1
                                                    },
                                                    "per_unit_cost_basis": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ],
                                                        "description": "How much, in USD, a customer paid for a single credit in this block"
                                                    }
                                                },
                                                "required": [
                                                    "balance",
                                                    "expiry_date",
                                                    "id",
                                                    "per_unit_cost_basis"
                                                ]
                                            }
                                        },
                                        "pagination_metadata": {
                                            "type": "object",
                                            "required": [
                                                "has_more"
                                            ],
                                            "properties": {
                                                "has_more": {
                                                    "type": "boolean"
                                                },
                                                "next_cursor": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "pagination_metadata"
                                    ]
                                },
                                "examples": {
                                    "Example": {
                                        "value": {
                                            "data": [
                                                {
                                                    "balance": 5,
                                                    "expiry_date": "2021-12-05T00:00:00+00:00",
                                                    "id": "jdus8ldncms4g7js",
                                                    "per_unit_cost_basis": "0.20"
                                                },
                                                {
                                                    "balance": 10,
                                                    "expiry_date": null,
                                                    "id": "8fdu10odp13fjncD",
                                                    "per_unit_cost_basis": null
                                                }
                                            ],
                                            "pagination_metadata": {
                                                "has_more": true,
                                                "next_cursor": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "get-customers-external_customer_id-credits",
                "description": "This endpoint's resource and semantics exactly mirror [Retrieve credit balance](../reference/Orb-API.json/paths/~1customers~1{customer_id}~1credits/get) but operates on an [external customer ID](../docs/Customer-ID-Aliases.md) rather than an Orb issued identifier.",
                "tags": [
                    "Credits"
                ]
            }
        },
        "/customers/{customer_id}/costs": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "customer_id",
                    "in": "path",
                    "required": true,
                    "description": "The Orb Customer ID"
                }
            ],
            "get": {
                "summary": "View customer costs",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "type": "object",
                                    "x-examples": {
                                        "example-1": {
                                            "data": [
                                                {
                                                    "balance": 1.472228333333333,
                                                    "expiry_date": null,
                                                    "id": "Pqe5m4sACcZRHjaw",
                                                    "per_unit_cost_basis": null
                                                }
                                            ],
                                            "pagination_metadata": {
                                                "has_more": false,
                                                "next_cursor": null
                                            }
                                        }
                                    },
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "uniqueItems": true,
                                            "minItems": 0,
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "subtotal": {
                                                        "type": "string",
                                                        "description": "Total costs for the timeframe, excluding minimums and discounts."
                                                    },
                                                    "total": {
                                                        "type": "string",
                                                        "description": "Total costs for the timeframe, including minimums and discounts."
                                                    },
                                                    "timeframe_start": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "timeframe_end": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "per_price_costs": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "description": "Price's contributions for the timeframe, excluding any transforms (minimums and discounts).",
                                                            "properties": {
                                                                "subtotal": {
                                                                    "type": "string",
                                                                    "description": "Price's contributions for the timeframe, excluding any minimums and discounts."
                                                                },
                                                                "total": {
                                                                    "type": "string",
                                                                    "description": "Price's contributions for the timeframe, including any minimums and discounts."
[...]
