[package]
name = "grafbase-telemetry"
authors = ["Grafbase"]
description = "Tracing capabilities for Grafbase"
version = "0.1.0"
edition = "2021"
homepage = "https://grafbase.com"
repository = "https://github.com/grafbase/grafbase"
keywords = ["tracing", "grafbase"]

[lints]
workspace = true

[dependencies]
chrono.workspace = true
base64.workspace = true
hex.workspace = true
blake3.workspace = true
http.workspace = true
http-body = "1.0"
serde.workspace = true
thiserror.workspace = true
tonic = { workspace = true, optional = true, features = ["tls-roots"] }
url = { workspace = true, features = ["serde"] }
worker = { workspace = true, optional = true }
headers.workspace = true
serde-dynamic-string.workspace = true
postcard.workspace = true
gateway-config.workspace = true

# tracing
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter"] }
tracing-opentelemetry.workspace = true
opentelemetry-appender-tracing = { workspace = true, features = ["experimental_metadata_attributes"] }
opentelemetry = { workspace = true, features = ["otel_unstable", "trace"] }
opentelemetry_sdk = { workspace = true, features = ["rt-tokio", "logs"] }
opentelemetry-stdout = { workspace = true, features = ["trace", "metrics", "logs"] }
opentelemetry-otlp = { workspace = true, features = ["grpc-tonic", "tls", "tonic", "http-proto", "logs"], optional = true }
ascii = { version = "1.1.0", features = ["serde"] }
cfg-if = "1.0.0"
either = "1.13.0"

[features]
default = []
otlp = ["dep:opentelemetry-otlp", "dep:tonic", "gateway-config/otlp"]
worker = ["dep:worker"]
lambda = []

[dev-dependencies]
indoc = "2.0.5"
insta = "1.38.0"
tempfile = "3.10.1"
toml = "0.8.12"
