# A long, secret value used to encrypt the session cookie
AUTH0_SECRET=
# The base url of your application
AUTH0_BASE_URL=http://localhost:3000
# The url of your Auth0 tenant domain
AUTH0_ISSUER_BASE_URL=
# Your Auth0 application's Client ID
AUTH0_CLIENT_ID=
# Your Auth0 application's Client Secret
AUTH0_CLIENT_SECRET=
# Your Auth0 application's audience
AUTH0_AUDIENCE=https://grafbase.com
# Your Grafbase API URL
NEXT_PUBLIC_GRAFBASE_API_URL=http://localhost:4000/graphql
