[package]
name = "graphql-wrapping-types"
description = "Compact representation for GraphQL list and required wrapping types"
version = "0.1.0"
edition.workspace = true
license.workspace = true
homepage.workspace = true
keywords.workspace = true
repository.workspace = true

[dependencies]
serde.workspace = true
grafbase-workspace-hack = { version = "0.1", path = "../../../workspace-hack" }

[lints]
workspace = true
