name: cargo-hakari

on:
  workflow_dispatch:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  what-changed:
    runs-on: depot-ubuntu-24.04-small
    outputs:
      cargo: ${{ steps.paths-changed.outputs.cargo }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Check paths changed
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        id: paths-changed
        with:
          filters: |
            cargo:
              - 'Cargo.lock'
              - 'Cargo.toml'
              - '**/Cargo.toml'

  hakari:
    needs: [what-changed]
    runs-on: depot-ubuntu-24.04-small
    if: needs.what-changed.outputs.cargo == 'true'
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install cargo-hakari
        uses: taiki-e/install-action@d12e869b89167df346dd0ff65da342d1fb1202fb # v2.53.2
        with:
          tool: cargo-hakari

      - name: Ensure grafbase-workspace-hack is up to date
        shell: bash
        run: cargo hakari generate --diff

      - name: Ensure all packages are using grafbase-workspace-hack
        shell: bash
        run: cargo hakari manage-deps --dry-run
