name: cli

on:
  workflow_dispatch:
  pull_request:
  push:
    tags:
      - 'cli-*'

permissions:
  # Allow checks read
  checks: write
  # Allow repo checkout
  contents: write
  # Allow PRs read
  pull-requests: read

env:
  GRAFBASE_SKIP_ASSET_VERSION_CHECK: 'true'
  ASSETS_VERSION: release/b609bf1-2023-06-15
  PROD_ASSETS: assets.grafbase.com
  CARGO_TERM_COLOR: 'always'
  CARGO_PROFILE_DEV_DEBUG: 0
  CARGO_PROFILE_TEST_DEBUG: 0
  DO_NOT_TRACK: 1
  GRAFBASE_RUDDERSTACK_WRITE_KEY: ${{ secrets.GRAFBASE_RUDDERSTACK_WRITE_KEY }}
  GRAFBASE_RUDDERSTACK_DATAPLANE_URL: ${{ secrets.GRAFBASE_RUDDERSTACK_DATAPLANE_URL }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  detect-change-type:
    runs-on: ubuntu-latest-8-cores
    outputs:
      build: ${{ steps.filter.outputs.build }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Path filter check
        uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            build:
              - 'cli/**/*'
              - '.github/workflows/cli.yml'
              - '.github/actions/**/*'

  prettier:
    needs: [detect-change-type]
    if: ${{ needs.detect-change-type.outputs.build == 'true' || startsWith(github.ref, 'refs/tags/') }}
    runs-on: ubuntu-latest-8-cores
    steps:
      - name: Get sources
        uses: actions/checkout@v3

      - name: Run prettier on workspace
        shell: bash
        run: |
          cd cli
          npx prettier --check .

  lint:
    needs: [detect-change-type]
    if: ${{ needs.detect-change-type.outputs.build == 'true' || startsWith(github.ref, 'refs/tags/') }}
    runs-on: ubuntu-latest-8-cores
    steps:
      - name: Get sources
        uses: actions/checkout@v3

      - name: Rust job init
        uses: ./.github/actions/init_rust_job
        with:
          platform: linux
          cache-key: ${{ runner.os }}-${{ runner.arch }}-cargo-dev-${{ hashFiles('cli/Cargo.lock') }}
          restore-key: ${{ runner.os }}-${{ runner.arch }}-cargo-dev

      - name: Fetch CDN assets
        uses: ./.github/actions/cdn_assets
        with:
          cdn: ${{ env.PROD_ASSETS }}
          assets_version: ${{ env.ASSETS_VERSION }}

      - name: Sanitize
        uses: ./.github/actions/sanitize
        with:
          test: false

  individual-builds:
    needs: [detect-change-type]
    if: ${{ needs.detect-change-type.outputs.build == 'true' || startsWith(github.ref, 'refs/tags/') }}
    strategy:
      fail-fast: false
      matrix:
        package: [common, server, backend, cli]
    runs-on: ubuntu-latest-8-cores
    steps:
      - name: Get sources
        uses: actions/checkout@v3

      - name: Rust job init
        uses: ./.github/actions/init_rust_job
        with:
          platform: linux
          cache-key: ${{ runner.os }}-${{ runner.arch }}-cargo-build-${{ matrix.package }}-${{ hashFiles('cli/Cargo.lock') }}
          restore-key: ${{ runner.os }}-${{ runner.arch }}-cargo-build

      - name: Fetch CDN assets
        uses: ./.github/actions/cdn_assets
        with:
          cdn: ${{ env.PROD_ASSETS }}
          assets_version: ${{ env.ASSETS_VERSION }}

      - name: Individual package build
        shell: bash
        run: |
          set -euo pipefail
          cd cli/crates
          # The actual features used for each dependency depends on what is being built simultaneously.
          # However, each package is published individually, so we're checking that all packages compile
          # with only their defined features.
          # See: https://github.com/rust-lang/cargo/issues/4463
          cd ${{ matrix.package }} && cargo check --all-features

  windows:
    needs: [lint]
    runs-on: windows-latest-8-cores
    steps:
      - name: Get sources
        uses: actions/checkout@v3
      - name: Rust job init
        uses: ./.github/actions/init_rust_job
        with:
          platform: windows
          cache-key: ${{ runner.os }}-${{ runner.arch }}-cargo-release-${{ hashFiles('cli/Cargo.lock') }}
          restore-key: ${{ runner.os }}-${{ runner.arch }}-cargo-release

      - name: Fetch CDN assets
        uses: ./.github/actions/cdn_assets
        with:
          cdn: ${{ env.PROD_ASSETS }}
          assets_version: ${{ env.ASSETS_VERSION }}

      - if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        name: Sanitize
        uses: ./.github/actions/sanitize
        with:
          lint: false

      - name: Build release
        run: |
          cd cli
          cargo build --release --target x86_64-pc-windows-msvc --timings

      - uses: actions/upload-artifact@v3
        with:
          name: windows-release-timings.html
          path: cli/target/cargo-timings/cargo-timing.html

      - name: Parse version tag
        if: startsWith(github.ref, 'refs/tags/')
        shell: bash
        run: |
          VERSION_BUMP="${{ github.ref_name }}"
          VERSION_BUMP=${VERSION_BUMP//cli-} # remove the cli prefix from the tag
          echo VERSION_BUMP=${VERSION_BUMP} >> $GITHUB_ENV

      - if: startsWith(github.ref, 'refs/tags/')
        name: Upload binaries
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.VERSION_BUMP }}-windows
          path: |
            cli/target/x86_64-pc-windows-msvc/release/grafbase.exe

  linux:
    needs: [lint]
    runs-on: ubuntu-latest-8-cores
    steps:
      - name: Get sources
        uses: actions/checkout@v3

      - name: Rust job init
        uses: ./.github/actions/init_rust_job
        with:
          platform: linux
          cache-key: ${{ runner.os }}-${{ runner.arch }}-cargo-release-${{ hashFiles('cli/Cargo.lock') }}
          restore-key: ${{ runner.os }}-${{ runner.arch }}-cargo-release

      - name: Fetch CDN assets
        uses: ./.github/actions/cdn_assets
        with:
          cdn: ${{ env.PROD_ASSETS }}
          assets_version: ${{ env.ASSETS_VERSION }}

      - if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        name: Sanitize
        uses: ./.github/actions/sanitize
        with:
          lint: false

      - name: Build release
        run: |
          cd cli
          cargo build --release --target x86_64-unknown-linux-musl --timings

      - uses: actions/upload-artifact@v3
        with:
          name: linux-release-timings.html
          path: cli/target/cargo-timings/cargo-timing.html

      - name: Parse version tag
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          VERSION_BUMP="${{ github.ref_name }}"
          VERSION_BUMP=${VERSION_BUMP//cli-} # remove the cli prefix from the tag
          echo VERSION_BUMP=${VERSION_BUMP} >> $GITHUB_ENV

      - if: startsWith(github.ref, 'refs/tags/')
        name: Upload binaries
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.VERSION_BUMP }}-linux
          path: |
            cli/target/x86_64-unknown-linux-musl/release/grafbase

  darwin:
    needs: [lint]
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        target: [aarch64-apple-darwin, x86_64-apple-darwin]
    steps:
      - name: Get sources
        uses: actions/checkout@v3

      - name: Rust job init
        uses: ./.github/actions/init_rust_job
        with:
          platform: macos
          cache-key: ${{ runner.os }}-${{ runner.arch }}-${{ matrix.target }}-cargo-release-${{ hashFiles('cli/Cargo.lock') }}
          restore-key: ${{ runner.os }}-${{ runner.arch }}-${{ matrix.target }}

      - name: Fetch CDN assets
        uses: ./.github/actions/cdn_assets
        with:
          cdn: ${{ env.PROD_ASSETS }}
          assets_version: ${{ env.ASSETS_VERSION }}

      - if: ${{ !startsWith(github.ref, 'refs/tags/') && matrix.target == 'x86_64-apple-darwin' }}
        name: Sanitize
        uses: ./.github/actions/sanitize
        with:
          lint: false

      - name: Build ${{ matrix.target }} release
        run: |
          cd cli
          cargo build --release --target ${{ matrix.target }} --timings

      - uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.target }}-release-timings.html
          path: cli/target/cargo-timings/cargo-timing.html

      - name: Parse version tag
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          VERSION_BUMP="${{ github.ref_name }}"
          VERSION_BUMP=${VERSION_BUMP//cli-} # remove the cli prefix from the tag
          echo VERSION_BUMP=${VERSION_BUMP} >> $GITHUB_ENV

      - if: startsWith(github.ref, 'refs/tags/')
        name: Upload ${{ matrix.target }} binary
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.VERSION_BUMP }}-${{ matrix.target }}
          path: cli/target/${{ matrix.target }}/release/grafbase

  release-cli:
    needs: [windows, linux, darwin]
    if: startsWith(github.ref, 'refs/tags/') && startsWith(github.ref_name, 'cli-')
    uses: ./.github/workflows/cli-partial-release.yml
    with:
      draft: false
      tag: ${{ github.ref_name }}
      prerelease: ${{ contains(github.ref, 'beta') || contains(github.ref, 'alpha') || contains(github.ref, 'rc') }}
    secrets:
      CRATES_ACCESS_TOKEN: ${{ secrets.CRATES_ACCESS_TOKEN }}
      NPM_ACCESS_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
