name: cli

on:
  workflow_dispatch:
  pull_request:
  push:
    tags:
      - 'cli-*'

permissions:
  # Allow checks read
  checks: write
  # Allow repo checkout
  contents: write
  # Allow PRs write
  pull-requests: write
  # Allow issues write
  issues: write

env:
  GRAFBASE_SKIP_ASSET_VERSION_CHECK: 'true'
  ASSETS_VERSION: release/f524588-2023-10-12
  PROD_ASSETS: assets.grafbase.com
  CARGO_TERM_COLOR: 'always'
  CARGO_PROFILE_DEV_DEBUG: 0
  CARGO_PROFILE_TEST_DEBUG: 0
  DO_NOT_TRACK: 1
  GRAFBASE_RUDDERSTACK_WRITE_KEY: ${{ secrets.GRAFBASE_RUDDERSTACK_WRITE_KEY }}
  GRAFBASE_RUDDERSTACK_DATAPLANE_URL: ${{ secrets.GRAFBASE_RUDDERSTACK_DATAPLANE_URL }}
  CLI_RELEASE_CLOUDFLARE_R2_ENDPOINT_URL: https://d267a8ab95268b272f5147e8939c9d38.r2.cloudflarestorage.com
  CLI_RELEASE_CLOUDFLARE_R2_PUBLIC_URL: https://pub-b0013effd6614b32a4fb9bf338b90658.r2.dev
  CLI_RELEASE_CLOUDFLARE_R2_BUCKET_NAME: cli-releases

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  detect-change-type:
    runs-on: buildjet-8vcpu-ubuntu-2204
    outputs:
      build: ${{ steps.filter.outputs.build }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Path filter check
        uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            build:
              - 'cli/**/*'
              - 'engine/**/*'
              # - '.github/workflows/cli.yml'
              # - '.github/actions/**/*'

  prettier:
    needs: [detect-change-type]
    if: ${{ needs.detect-change-type.outputs.build == 'true' || startsWith(github.ref, 'refs/tags/') }}
    runs-on: buildjet-8vcpu-ubuntu-2204
    steps:
      - name: Get sources
        uses: actions/checkout@v3

      - name: Run prettier on workspace
        shell: bash
        run: |
          cd cli
          npx prettier --check .

  lint:
    needs: [detect-change-type]
    if: ${{ needs.detect-change-type.outputs.build == 'true' || startsWith(github.ref, 'refs/tags/') }}
    runs-on: buildjet-8vcpu-ubuntu-2204
    steps:
      - name: Get sources
        uses: actions/checkout@v3

      - name: Rust job init
        uses: ./.github/actions/init_rust_job
        with:
          platform: linux
          cache-key: ${{ runner.os }}-${{ runner.arch }}-cargo-dev-${{ hashFiles('cli/Cargo.lock') }}
          restore-key: ${{ runner.os }}-${{ runner.arch }}-cargo-dev

      - name: Prepare CLI assets
        uses: ./.github/actions/cli_assets
        with:
          cdn: ${{ env.PROD_ASSETS }}
          assets_version: ${{ env.ASSETS_VERSION }}

      - name: Sanitize
        uses: ./.github/actions/sanitize
        with:
          test: false

  individual-builds:
    needs: [detect-change-type]
    if: ${{ needs.detect-change-type.outputs.build == 'true' || startsWith(github.ref, 'refs/tags/') }}
    strategy:
      fail-fast: false
      matrix:
        package: [common, server, backend, cli]
    runs-on: buildjet-8vcpu-ubuntu-2204
    steps:
      - name: Get sources
        uses: actions/checkout@v3

      - name: Rust job init
        uses: ./.github/actions/init_rust_job
        with:
          platform: linux
          cache-key: ${{ runner.os }}-${{ runner.arch }}-cargo-build-${{ matrix.package }}-${{ hashFiles('cli/Cargo.lock') }}
          restore-key: ${{ runner.os }}-${{ runner.arch }}-cargo-build

      - name: Fetch CDN assets
        uses: ./.github/actions/cli_assets
        with:
          cdn: ${{ env.PROD_ASSETS }}
          assets_version: ${{ env.ASSETS_VERSION }}

      - name: Individual package build
        shell: bash
        run: |
          set -euo pipefail
          cd cli/crates
          # The actual features used for each dependency depends on what is being built simultaneously.
          # However, each package is published individually, so we're checking that all packages compile
          # with only their defined features.
          # See: https://github.com/rust-lang/cargo/issues/4463
          cd ${{ matrix.package }} && cargo check --all-features

  windows:
    needs: [lint]
    runs-on: windows-latest-8-cores
    steps:
      - name: Get sources
        uses: actions/checkout@v3
      - name: Rust job init
        uses: ./.github/actions/init_rust_job
        with:
          platform: windows
          cache-key: ${{ runner.os }}-${{ runner.arch }}-cargo-release-${{ hashFiles('cli/Cargo.lock') }}
          restore-key: ${{ runner.os }}-${{ runner.arch }}-cargo-release

      - name: Prepare CLI assets
        uses: ./.github/actions/cli_assets
        with:
          cdn: ${{ env.PROD_ASSETS }}
          assets_version: ${{ env.ASSETS_VERSION }}

      - if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        name: Sanitize
        uses: ./.github/actions/sanitize
        with:
          lint: false

      - name: Build release
        run: |
          cd cli
          cargo build --release --target x86_64-pc-windows-msvc --timings

      - uses: actions/upload-artifact@v3
        with:
          name: windows-release-timings.html
          path: cli/target/cargo-timings/cargo-timing.html

      - if: ${{ false }}
        name: Upload the binary of the change to R2
        run: |
          aws s3api put-object \
            --endpoint-url $CLI_RELEASE_CLOUDFLARE_R2_ENDPOINT_URL \
            --bucket $CLI_RELEASE_CLOUDFLARE_R2_BUCKET_NAME \
            --key ${GITHUB_SHA}/x86_64-pc-windows-msvc/grafbase.exe \
            --body cli/target/x86_64-pc-windows-msvc.exe/release/grafbase.exe
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.R2_RELEASES_BUCKET_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.R2_RELEASES_BUCKET_SECRET_ACCESS_KEY }}

      - name: Parse version tag
        if: startsWith(github.ref, 'refs/tags/')
        shell: bash
        run: |
          VERSION_BUMP="${{ github.ref_name }}"
          VERSION_BUMP=${VERSION_BUMP//cli-} # remove the cli prefix from the tag
          echo VERSION_BUMP=${VERSION_BUMP} >> $GITHUB_ENV

      - if: startsWith(github.ref, 'refs/tags/')
        name: Upload binaries
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.VERSION_BUMP }}-windows
          path: |
            cli/target/x86_64-pc-windows-msvc/release/grafbase.exe

  linux:
    needs: [lint]
    strategy:
      fail-fast: false
      matrix:
        archs:
          [
            {
              runner: buildjet-8vcpu-ubuntu-2204,
              target: x86_64-unknown-linux-musl,
              platform: linux
            },
            {
              runner: buildjet-8vcpu-ubuntu-2204-arm,
              target: aarch64-unknown-linux-musl,
              platform: linux-arm
            }
          ]
    runs-on: ${{ matrix.archs.runner }}
    steps:
      - name: Get sources
        uses: actions/checkout@v3

      - name: Rust job init
        uses: ./.github/actions/init_rust_job
        with:
          platform: ${{ matrix.archs.platform }}
          cache-key: ${{ runner.os }}-${{ runner.arch }}-cargo-release-${{ hashFiles('cli/Cargo.lock') }}
          restore-key: ${{ runner.os }}-${{ runner.arch }}-cargo-release

      - name: Prepare CLI assets
        uses: ./.github/actions/cli_assets
        with:
          cdn: ${{ env.PROD_ASSETS }}
          assets_version: ${{ env.ASSETS_VERSION }}

      - if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        name: Sanitize
        uses: ./.github/actions/sanitize
        with:
          lint: false

      - name: Build release
        run: |
          cd cli
          cargo build --release --target ${{ matrix.archs.target }} --timings

      - uses: actions/upload-artifact@v3
        with:
          name: linux-release-timings.html
          path: cli/target/cargo-timings/cargo-timing.html

      - if: ${{ github.event_name == 'pull_request' && matrix.archs.runner != 'buildjet-8vcpu-ubuntu-2204-arm' }}
        name: Upload the binary of the change to R2
        run: |
          aws s3api put-object \
            --endpoint-url $CLI_RELEASE_CLOUDFLARE_R2_ENDPOINT_URL \
            --bucket $CLI_RELEASE_CLOUDFLARE_R2_BUCKET_NAME \
            --key ${GITHUB_SHA}/${{ matrix.archs.target }}/grafbase \
            --body cli/target/${{ matrix.archs.target }}/release/grafbase
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.R2_RELEASES_BUCKET_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.R2_RELEASES_BUCKET_SECRET_ACCESS_KEY }}

      - name: Parse version tag
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          VERSION_BUMP="${{ github.ref_name }}"
          VERSION_BUMP=${VERSION_BUMP//cli-} # remove the cli prefix from the tag
          echo VERSION_BUMP=${VERSION_BUMP} >> $GITHUB_ENV

      - if: startsWith(github.ref, 'refs/tags/')
        name: Upload binaries
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.VERSION_BUMP }}-${{ matrix.archs.platform }}
          path: |
            cli/target/${{ matrix.archs.target }}/release/grafbase

  darwin:
    needs: [lint]
    runs-on: macos-latest-xlarge
    strategy:
      fail-fast: false
      matrix:
        target: [aarch64-apple-darwin, x86_64-apple-darwin]
        should_run: "${{ needs.detect-change-type.outputs.build == 'true' || startsWith(github.ref, 'refs/tags/') }}"
    if: matrix.should_run
    steps:
      - name: Get sources
        uses: actions/checkout@v3

      - name: Rust job init
        uses: ./.github/actions/init_rust_job
        with:
          platform: macos
          cache-key: ${{ runner.os }}-${{ runner.arch }}-${{ matrix.target }}-cargo-release-${{ hashFiles('cli/Cargo.lock') }}
          restore-key: ${{ runner.os }}-${{ runner.arch }}-${{ matrix.target }}

      - name: Prepare CLI assets
        uses: ./.github/actions/cli_assets
        with:
          cdn: ${{ env.PROD_ASSETS }}
          assets_version: ${{ env.ASSETS_VERSION }}

      - if: ${{ !startsWith(github.ref, 'refs/tags/') && matrix.target == 'x86_64-apple-darwin' }}
        name: Sanitize
        uses: ./.github/actions/sanitize
        with:
          lint: false

      - name: Build ${{ matrix.target }} release
        run: |
          cd cli
          cargo build --release --target ${{ matrix.target }} --timings

      - uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.target }}-release-timings.html
          path: cli/target/cargo-timings/cargo-timing.html

      - name: Parse version tag
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          VERSION_BUMP="${{ github.ref_name }}"
          VERSION_BUMP=${VERSION_BUMP//cli-} # remove the cli prefix from the tag
          echo VERSION_BUMP=${VERSION_BUMP} >> $GITHUB_ENV

      - if: ${{ github.event_name == 'pull_request' && matrix.archs.runner != 'buildjet-8vcpu-ubuntu-2204-arm' }}
        name: Upload the binary of the change to R2
        run: |
          curl "https://awscli.amazonaws.com/AWSCLIV2.pkg" -o "AWSCLIV2.pkg"
          sudo installer -pkg AWSCLIV2.pkg -target /
          aws s3api put-object \
            --endpoint-url $CLI_RELEASE_CLOUDFLARE_R2_ENDPOINT_URL \
            --bucket $CLI_RELEASE_CLOUDFLARE_R2_BUCKET_NAME \
            --key ${GITHUB_SHA}/${{ matrix.target }}/grafbase \
            --body cli/target/${{ matrix.target }}/release/grafbase
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.R2_RELEASES_BUCKET_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.R2_RELEASES_BUCKET_SECRET_ACCESS_KEY }}

      - if: startsWith(github.ref, 'refs/tags/')
        name: Upload ${{ matrix.target }} binary
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.VERSION_BUMP }}-${{ matrix.target }}
          path: cli/target/${{ matrix.target }}/release/grafbase

  release-cli:
    needs: [windows, linux, darwin]
    if: startsWith(github.ref, 'refs/tags/') && startsWith(github.ref_name, 'cli-')
    uses: ./.github/workflows/cli-partial-release.yml
    with:
      draft: false
      tag: ${{ github.ref_name }}
      prerelease: ${{ contains(github.ref, 'beta') || contains(github.ref, 'alpha') || contains(github.ref, 'rc') }}
    secrets:
      CRATES_ACCESS_TOKEN: ${{ secrets.CRATES_ACCESS_TOKEN }}
      NPM_ACCESS_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}

  post-comment-with-asset-urls:
    needs: [windows, linux, darwin]
    runs-on: buildjet-2vcpu-ubuntu-2204
    if: ${{ github.event_name == 'pull_request' }}
    steps:
      - name: Comment PR
        uses: thollander/actions-comment-pull-request@v2
        with:
          message: |
            ### Built binaries:

            * [Linux (x86)](${{ env.CLI_RELEASE_CLOUDFLARE_R2_PUBLIC_URL }}/${{ github.sha }}/x86_64-unknown-linux-musl/grafbase)
            * [Mac (M1)](${{ env.CLI_RELEASE_CLOUDFLARE_R2_PUBLIC_URL }}/${{ github.sha }}/aarch64-apple-darwin/grafbase)
            * [Mac (x86)](${{ env.CLI_RELEASE_CLOUDFLARE_R2_PUBLIC_URL }}/${{ github.sha }}/x86_64-apple-darwin/grafbase)
