name: federation-audit

on:
  workflow_dispatch:
  pull_request:

env:
  CARGO_PROFILE_DEV_DEBUG: 0
  CARGO_PROFILE_TEST_DEBUG: 0
  CARGO_TERM_COLOR: 'always'
  RUST_BACKTRACE: 1

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  what-changed:
    runs-on: depot-ubuntu-24.04-small
    outputs:
      changed-packages: ${{ steps.rust.outputs.changed-packages }}
      github-action: ${{ steps.paths-changed.outputs.github-action }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          # TODO: Figure out how to not make this zero
          # Seems like if it's not zero you dont get branches
          fetch-depth: 0

      - name: Install rust
        uses: ./.github/actions/install-rust

      - name: Run what-rust-changed
        id: rust
        uses: grafbase/what-rust-changed@v0.2.0
        with:
          config: .github/what-rust-changed.toml
          base: ${{ github.event.pull_request.base.ref || 'main' }}

      - name: Check paths changed
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        id: paths-changed
        with:
          filters: |
            github-action:
              - .github/workflows/federation-audit.yml

  audit:
    needs: [what-changed]
    if: |
      contains(fromJson(needs.what-changed.outputs.changed-packages), 'engine')
      || contains(fromJson(needs.what-changed.outputs.changed-packages), 'federation-audit-tests')
      || needs.what-changed.outputs.github-action == 'true'
    runs-on: depot-ubuntu-24.04-8
    permissions:
      checks: write
      pull-requests: write
    env:
      RUSTFLAGS: '-D warnings --cfg tracing_unstable'
    steps:
      - name: Get sources
        uses: actions/checkout@v4

      # Disabling caching for now because I'm worried about using up any more of our cache storage.
      # Can revisit later if we need to.
      # - uses: Swatinem/rust-cache@v2
      #   if: ${{ !startsWith(github.head_ref, 'renovate-') }}
      #   with:
      #     # Our windows & mac runners are hosted by github, so using github for
      #     # their cache makes sense.  Buildjet is faster (and offers more storage) for
      #     # others though.
      #     cache-provider: ${{ contains(matrix.platform.target, 'linux') && 'buildjet' || 'github' }}

      - name: Install rust
        uses: ./.github/actions/install-rust
        with:
          target: x86_64-unknown-linux-gnu

      - name: Setup Depot
        uses: depot/setup-action@v1

      - name: Install sccache
        uses: taiki-e/install-action@d12e869b89167df346dd0ff65da342d1fb1202fb # v2.53.2
        with:
          tool: sccache

      - name: Install cargo-nextest
        uses: taiki-e/install-action@d12e869b89167df346dd0ff65da342d1fb1202fb # v2.53.2
        with:
          tool: nextest

      # https://github.com/actions/setup-node/issues/899
      - name: Enable Corepack before setting up Node
        shell: bash
        run: corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Build audit tests
        shell: bash
        run: |
          depot cargo nextest run --no-run --profile ci -p federation-audit-tests

      - name: Setup audit test repo
        shell: bash
        run: |
          depot cargo nextest run --profile ci -p federation-audit-tests --test checkout || true

      - name: Start audit test server
        uses: JarvusInnovations/background-action@2428e7b970a846423095c79d43f759abf979a635 # v1.0.7
        with:
          working-directory: crates/federation-audit-tests/gateway-audit-repo
          run: |
            npm start serve
          wait-on: |
            http-get://localhost:4200
          tail: true
          wait-for: 10s
          log-output-if: failure

      - name: Run audit tests
        id: tests
        shell: bash
        continue-on-error: true
        run: |
          depot cargo nextest run --profile ci -p federation-audit-tests --test audit_tests

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@34f4f0daa6b03aee5efc77b9c2cbc51a75781341 # v5.0.0-a03
        if: success() || failure()
        with:
          report_paths: 'target/nextest/ci/junit.xml'
          annotate_only: true
          job_name: 'Federation Audit Report'
          check_name: 'Federation Audit Report'
          comment: true
