name: Sanitize with latest

on:
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch:

permissions:
  # Allow checks read
  checks: write
  # Allow repo checkout
  contents: write
  # Allow PRs read
  pull-requests: read

env:
  GRAFBASE_SKIP_ASSET_VERSION_CHECK: 'true'
  ASSETS_VERSION: 'release/latest'
  PROD_ASSETS: assets.grafbase.com
  CARGO_TERM_COLOR: 'always'

jobs:
  sanitize:
    runs-on: buildjet-8vcpu-ubuntu-2204
    steps:
      - name: Get sources
        uses: actions/checkout@v4

      - name: Rust job init
        uses: ./.github/actions/init_rust_job
        with:
          platform: linux
          cache-key: ${{ runner.os }}-${{ runner.arch }}-cargo-dev-${{ hashFiles('cli/Cargo.lock') }}

      - name: Build CLI assets
        uses: ./.github/actions/cli_assets
        with:
          cdn: ${{ env.PROD_ASSETS }}
          assets_version: ${{ env.ASSETS_VERSION }}

      - name: Sanitize
        uses: ./.github/actions/sanitize
        with:
          lint: true
          test: true

      - name: Report Status
        if: always()
        uses: ravsamhq/notify-slack-action@v2
        with:
          status: ${{ job.status }}
          notification_title: "{workflow} has {status_message}"
          message_format: "{emoji} *{workflow}* {status_message} in <{repo_url}|{repo}>"
          footer: "<{run_url}|View Run>"
          notify_when: "failure"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
